.seasonality
	&__title
		margin-bottom: 32px


	.text-default
		table
			+md
				display: block
				max-width: 100%
				width: fit-content
				overflow-x: auto

			td
				&.active
					background-color: $clr_3

			th, td
				padding: 8px 14px