// FONTS
$ff_1: 'Manrope', sans-serif

// COLOR
$clr_0: transparent
$clr_1: #FFF
$clr_2: #464b30
$clr_3: #6eb657
$clr_4: #f0f7ee
$clr_5: #cce5d9
$clr_6: #e2f0dd
$clr_7: #edf3d7
$clr_8: #fdf5ce
$clr_9: #fceed9
$clr_10: #fce4d2
$clr_er: #ff4040

// SIZE
$size_1: 1490px
