.faq
	&__list
		display: flex
		flex-direction: column
    
	&__list-item 
		display: flex
		flex-direction: column

		&:not(:last-child)
			margin-bottom: 20px

	&__btn
		display: flex
		justify-content: space-between
		align-items: center
		padding: 18px
		min-height: 30px
		color: $clr_1
		background-color: $clr_3
		cursor: pointer
		box-shadow: 0 6px 12px 0 rgba(209, 0, 2, 0.05), 0 23px 23px 0 rgba(209, 0, 2, 0.04), 0 51px 31px 0 rgba(209, 0, 2, 0.03), 0 90px 36px 0 rgba(209, 0, 2, 0.01), 0 141px 40px 0 rgba(209, 0, 2, 0)
		transition: background-color .2s linear, color .2s linear

		&:hover
			+hover
				color: $clr_3
				background-color: $clr_1

				.faq__btn-wrapper-icon
					background-color: $clr_3

				.faq__btn-icon
					fill: $clr_1

		&.ac-active

			.faq__btn-icon
				transform: rotate(90deg)
    
	&__btn-text
		margin-right: 20px
		text-align: left
		font-weight: 700
		font-size: 20px
    
	&__btn-wrapper-icon
		display: flex
		align-items: center
		justify-content: center
		width: 40px
		height: 40px
		border-radius: 50%
		background-color: $clr_1
		transition: background-color .2s linear

		+ph
			width: 30px
			height: 30px
    
	&__btn-icon
		width: 20px
		height: 20px
		fill: $clr_3
		transition: transform .2s linear
    
	&__text
		&.text-default
			padding: 20px
			box-sizing: border-box
			overflow-x: hidden
    
	.ac-hidden
		max-height: 0
		overflow: hidden
		transition: max-height .3s linear
    