.faq
	&__list
		display: flex
		flex-direction: column
    
	&__list-item 
		display: flex
		flex-direction: column

		&:not(:last-child)
			margin-bottom: 20px

	&__btn
		display: flex
		align-items: center
		padding: 18px
		min-height: 30px
		color: $clr_1
		border: 2px solid $clr_3
		background-color: $clr_3
		cursor: pointer
		transition: background-color .2s linear, color .2s linear

		&:hover
			+hover
				color: $clr_3
				background-color: $clr_1

				.faq__btn-number-wrapper
					&::after
						background-color: $clr_3

				.faq__btn-wrapper-icon
					background-color: $clr_3

				.faq__btn-icon
					fill: $clr_1

		&.ac-active

			.faq__btn-icon
				transform: rotate(90deg)
  
	&__btn-number-wrapper
		position: relative
		margin-top: -20px
		margin-right: 30px
		margin-bottom: -20px
		padding: 20px 30px 20px 15px
		font-weight: 700
		font-size: 24px

		+sm
			font-size: 20px

		+ph
			margin-right: 20px
			padding: 20px 20px 20px 10px
			font-size: 18px

		&::after
			content: ''
			position: absolute
			top: 50%
			right: 0
			width: 2px
			height: 100%
			background-color: $clr_1
			transform: translateY(-50%)
			transition: background-color .2s linear

	&__btn-text
		margin-right: 20px
		text-align: left
		font-weight: 700
		font-size: 20px
    
	&__btn-wrapper-icon
		display: flex
		align-items: center
		justify-content: center
		flex-shrink: 0
		margin-left: auto
		width: 40px
		height: 40px
		border-radius: 50%
		background-color: $clr_1
		transition: background-color .2s linear

		+ph
			width: 30px
			height: 30px
    
	&__btn-icon
		width: 20px
		height: 20px
		fill: $clr_3
		transition: transform .2s linear
    
	&__text
		
		&.text-default
			padding: 20px
			box-sizing: border-box
			overflow-x: hidden
    
	.ac-hidden
		max-height: 0
		overflow: hidden
		transition: max-height .3s linear
    