.search-inner
	&__content-wrapper
		display: flex
		justify-content: space-between

		+sm
			flex-direction: column-reverse

	&__list
		position: relative
		display: grid
		grid-template-columns: repeat(4, 1fr)
		grid-auto-rows: minmax(80px, auto)
		gap: 10px

		+md
			grid-template-columns: repeat(3, 1fr)

		+sm
			grid-template-columns: repeat(2, 1fr)

		+ph
			grid-template-columns: 1fr
			grid-auto-rows: minmax(60px, auto)
			gap: 10px

	&__list-item
		display: flex

	&__list-link
		width: 100%
		height: 100%
		font-weight: 600
		text-transform: uppercase
		transition: color .2s linear, border-color .2s linear

	.button-invert
		justify-content: space-between
		max-width: 100%

		&:hover
			+hover
				&::after
					width: 103%
					height: 250px
