{
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": ["*.jsx", "*.tsx", "*.ts"],
      "options": {
        "tabWidth": 2,
        "singleQuote": true,
        "arrowParens": "avoid",
        "printWidth": 200
      }
    }
  ]
}
