// FONTS
$ff_1: 'Mulish', sans-serif

// COLOR
$clr_0: transparent
$clr_1: #FFF
$clr_2: #1C1C1C
$clr_3: #D20001
$clr_4: transparent
$clr_5: transparent
$clr_6: transparent
$clr_7: transparent
$clr_8: transparent
$clr_9: transparent
$clr_er: #E01934

// SIZE
$size_1: 1384px
