// .main-section
// 	.events
// 		&__title
// 			text-align: left

// 		.content-column

// 			+ph
// 				border-radius: 0
// 				background-image: none !important

// 			&__text-wrapper
				
// 				+ph
// 					margin-bottom: 20px
// 					padding: 30px 20px
// 					background-image: url(../img/content-bg-img.jpg) !important
.main-section
	.events

		&__container
			display: flex
			flex-direction: column
			align-items: center

		&__title
			margin-bottom: 0
			text-align: center

		&__img
			margin-top: -40px
			margin-bottom: 40px
			max-width: 470px
			width: 100%
			min-height: 507px
			border: 6px solid rgba($clr_1, .8)
			background-position: center
			background-repeat: no-repeat
			background-size: cover
			opacity: .8
			
			+sm
				margin-top: -30px

			+ph
				margin-top: -25px
				max-width: 500px
				min-height: 400px

		&__content-wrapper
			display: flex
			flex-direction: column
			align-items: center
			text-align: center
			max-width: 954px
			width: 100%

			+sm
				margin-bottom: 80px

			+ph
				margin-bottom: 40px

		&__content-title
			margin-bottom: 24px
			font-weight: 500
			font-size: 16px
			line-height: 90%
			letter-spacing: .05em
			text-transform: uppercase
			text-align: center

		&__content
			margin-bottom: 40px

.events

	&__title
		margin-bottom: 40px
		text-align: center

		+ph
			margin-bottom: 30px
			text-align: left

	&__content-wrapper
		display: flex
		flex-direction: column
		align-items: center

		+ph
			align-items: flex-start

	&__list
		margin-bottom: 40px

	&__content
		flex-direction: row-reverse

		+ph
			flex-direction: column-reverse

	.content-column

		+ph
			border-radius: 15px
			background-image: url(../img/content-bg-img.jpg)
			background-position: center
			background-size: cover
			background-repeat: no-repeat
		
		&__title
			margin-bottom: 36px
			line-height: 120%

		&__text-wrapper
			margin-right: 16px
			flex: 1 0 47%
			
			+ph
				flex: 0 0 100%
				margin-right: 0
				padding: 30px 20px 0 20px
				background-image: none !important

		&__media
			margin-right: 0
			flex: 1 0 47%
			height: 556px

			+ph
				flex: 0 0 100%
				margin-bottom: 0
				height: 300px
				min-height: 300px

		&__btn
			margin-top: auto
			max-width: 279px

			+ph
				max-width: 100%

	&__list-item

		&:not(:last-child)
			margin-bottom: 20px

			+sm
				margin-bottom: 80px

			+ph
				margin-bottom: 60px
