.footer
  margin-top: auto
  
  &__container
    padding-top: 12px
    padding-bottom: 12px
    
    +ph
      padding-top: 24px
      padding-bottom: 24px
    
  &__list
    display: flex
    align-items: center
    justify-content: space-between
    font-size: 14px
    line-height: 0.9
    text-align: center
    text-transform: uppercase

    +sm
      flex-direction: column

    +ph
      font-size: 12px

  &__list-item

    &:not(:last-child)
      margin-right: 10px

      +sm
        margin-right: 0
        margin-bottom: 12px

  .link
    align-items: center

    &__icon
      margin-right: 10px
      width: 47px
      height: 20px
