.footer
  margin-top: auto
  
  &__container
    padding-top: 24px
    padding-bottom: 24px

    +ph
      padding-top: 20px
      padding-bottom: 20px
    
  &__list
    display: flex
    align-items: center
    gap: 12px
    justify-content: space-between
    font-size: 14px
    line-height: 90%
    text-align: center

    +sm
      flex-direction: column

    +ph
      gap: 12px
      font-size: 12px

  .link-rev
    align-items: center
    font-size: 14px

    +ph
      font-size: 12px

    &__icon
      margin-right: 16px
      width: 47px
      height: 20px
