.form-success
	display: flex
	flex-direction: column
	align-items: center
	font-weight: 600
	font-size: 40px
	text-align: center
	color: $clr_2
	text-transform: uppercase

	+sm
		width: 100%
		font-size: 25px

	+ph
		font-size: 20px

	&__box
		&.modal-box
			+ph
				padding: 30px

	.form-success__descr
		@include textReset
		margin-bottom: 20px
		color: $clr_3
		font-family: $ff_1

		+ph
			margin-bottom: 15px

	.form-success__descr.last
		margin: 0
		font-size: 20px
		color: $clr_2

		+ph
			font-size: 16px
