.hero
	display: flex
	flex-direction: column
	align-items: center
	min-height: 850px
	padding-top: 304px
	padding-bottom: 24px

	+sm
		padding-top: 204px
		min-height: 80vh

	&__img-bg
		position: absolute
		top: 0
		left: 0
		z-index: -2
		display: flex
		max-width: 100%
		width: 100%
		height: 100%
		object-fit: cover

		+sm
			display: none

		&_sm
			display: none

			+sm
				display: flex


	&__content
		display: flex
		flex-direction: column
		align-items: center
		text-align: center
		color: $clr_1

	&__title
		font-size: 128px
		text-align: center
		color: $clr_1

		+sm
			font-size: 80px

		+ph
			margin-bottom: 10px
			font-size: 50px

	&__text
		max-width: 405px
		font-weight: 350
		line-height: 150%
		font-size: 24px
		letter-spacing: .05em
		text-transform: uppercase

		+sm
			font-size: 22px

		+ph
			font-size: 18px

	&__btn
		display: flex
		align-items: center
		justify-content: center
		margin: 0 auto
		margin-top: auto
		width: 24px
		height: 24px

		&.js-scroll-hidden
			animation-fill-mode: forwards
			animation-name: btnHidden
			animation-duration: .4s
			animation-timing-function: cubic-bezier(0, 0.1, 0.2, 1)

		&.js-scroll-active
			animation: movement 2s cubic-bezier(.4,0,.22,1) infinite

	&__btn-icon
		fill: $clr_1
		transform: rotate(90deg)

