.modal-specialist
	overflow-y: auto
	max-width: 100%
	min-height: 100vh

	&::-webkit-scrollbar
		width: 16px
		background-color: $clr_4

		+lr
			width: 4px

	&::-webkit-scrollbar-thumb
		background-color: $clr_3
		background-color: rgba($clr_3, .5)

	&__box
		&.modal-box
			max-width: 800px
			overflow: visible

	&__content
		display: flex

		+ph
			flex-direction: column

	&__content-left
		margin-right: 20px
		max-width: 30%
		width: 100%

		+ph
			max-width: 60%

	&__content-title
		margin-bottom: 20px
		max-width: 350px
		font-size: 30px

		+sm
			margin-bottom: 15px
			font-size: 20px

	&__img
		margin-bottom: 20px
