.table
	&__container
		display: flex
		flex-direction: column
		align-items: center

	&__bg-img
		position: absolute
		top: 0
		left: 0
		z-index: -1
		max-width: 1379px
		width: 100%
		min-height: 1180px
		background-repeat: no-repeat
		background-position: center
		background-size: contain

	&__content-wrapper
		margin-bottom: 40px

		+ph
			margin-bottom: 30px
			width: 100%

	&__content-item
		width: 100%
		
		+ph
			overflow-x: auto

		table
			margin-bottom: 0

.btns-list
	display: flex
	margin-bottom: 24px
	padding: 5px
	max-width: 100%
	width: 100%
	border: 1px solid $clr_5
	box-shadow: 1px 8px 17px 0 rgba(0, 0, 0, 0.05), 3px 31px 31px 0 rgba(0, 0, 0, 0.04), 8px 70px 42px 0 rgba(0, 0, 0, 0.02), 13px 124px 50px 0 rgba(0, 0, 0, 0.01), 21px 194px 55px 0 rgba(0, 0, 0, 0)
	+ph
		overflow-x: auto

	&__item
		max-width: 50%
		width: 100%
		+ph
			display: inline-block
			max-width: max-content
			// width: max-content

	&__btn
		padding: 26px 40px
		width: 100%
		height: 100%
		font-weight: 500
		line-height: 90%
		font-size: 16px
		letter-spacing: .05em
		color: $clr_5
		text-align: center
		text-transform: uppercase
		transition: background-color .2s linear

		+lr
			padding: 20px 25px

		+sm
			font-size: 16px

		+ph
			padding: 15px
			font-size: 14px

		&:hover
			+hover
				background-color: $clr_5
				color: $clr_1

		&.active
			background-color: $clr_5
			color: $clr_1