.video
	&__title
		text-align: center

	&__bg-img
		position: absolute
		top: 223px
		left: 50%
		z-index: -1
		width: 100%
		height: 2750px
		background-repeat: no-repeat
		background-position: center
		background-size: contain
		transform: translateX(-50%)
	
.video-slider
	position: relative
	display: flex
	flex-direction: column

	+max(1560px)
		padding: 0 50px

	+ph
		padding: 0 38px

	&__wrapper
		max-width: 1440px

	&__swiper
		width: 100%

	&__slide
		display: flex
		background-color: $clr_3
		
		iframe
			max-width: 100%
			width: 100%
			min-height: 699px

			+ph
				min-height: 60vh

	.arrow
		position: absolute
		top: 50%
		transform: translateY(-50%)

		&_prev
			left: -48px

			+max(1560px)
				left: 0

		&_next
			right: -48px

			+max(1560px)
				right: 0