// FONTS
$ff_1: 'Mulish', sans-serif

// COLOR
$clr_0: transparent
$clr_1: #FFF
$clr_2: #001C25
$clr_3: #2A6495
$clr_4: #D7E9F3
$clr_5: #C0C1C1
$clr_6: #E01934
$clr_7: #46b939
$clr_8: #29a71a
$clr_9: #229ED9

// SIZE
$size_1: 1416px
