@font-face 
	font-family: PixeloidSans
	font-display: swap
	src: url("../fonts/PixeloidSans-Bold.woff2") format("woff2"), url("../fonts/PixeloidSans-Bold.woff") format("woff")
	font-weight: 700
	font-style: normal

@font-face 
	font-family: PixeloidSans
	font-display: swap
	src: url("../fonts/PixeloidSans.woff2") format("woff2"), url("../fonts/PixeloidSans.woff") format("woff")
	font-weight: 400
	font-style: normal

