:root
	// container
	--container-width: 1556px
	--container-padding: 25px
	--container-padding-ph: 10px

	// fonts
	--font-main: 'PixeloidSans', sans-serif

	// colors
	--none-color: transparent
	--white-color: #fff
	--page-color: var(--bg-color)
	--text-color: #030500
	--text-second-color: #494949
	--link-color: #8d9ff6
	--btn-hover-color: #e7e7e7
	--btn-active-color: #d4d2d2
	--bg-color: #24233d
	--bg-second-color: #323451
	--bg-third-color: #7C8CD9
	--error-color: #E01934
	--success-color: #90ee90
	--green-color: #719F09
	--green-hover-color: #9ECB3A
	--green-active-color: #1b5e20
	--pink-color: #F834EC
	--pink-hover-color: #FF83F7
	--blue-color: #0197DB
	--blue-hover-color: #56caff
	--accent-color: #615F83
	--accent-text-color: #11deff
	--hover-color: #f78b78
	--active-color: #f68b78
	--scroll-color: #8381AD
