.login-block
	padding-top: 65px
	padding-bottom: 25px

	.container
		display: flex
		justify-content: center

	.panel-fissure-vertical
		.header_1
			margin-top: 0

		.form
			display: flex
			flex-direction: column

			.form-item,
			.form-item-checkbox
				width: 352px

			.form-item
				input
					width: 324px

			.form-item-checkbox
				.link
					font-size: 14px

		.button-big
			width: 100%
			margin-top: 16px

		.note
			display: flex
			flex-direction: column
			padding-top: 10px
			font-size: 16px
			font-weight: 700
			text-align: center
			line-height: 22px

			.register
				color: $color__2

				.link
					text-transform: uppercase

			.remind
				padding-top: 10px