.reviews-form
	width: 800px
	max-width: 100%
	margin-right: auto
	margin-bottom: 60px
	margin-left: auto

	.content
		form
			display: flex
			align-items: flex-end

	.form-item
		flex-grow: 1
		margin-right: 8px
		margin-bottom: 0

		textarea
			width: 100%
			min-width: 100%
			min-height: 200px
			resize: vertical