.statistics
	.panel-purple
		display: flex
		justify-content: center
		margin-bottom: 60px

		.content
			display: flex
			padding: 16px 28px 24px 28px

		.item
			width: 290px

			.title
				margin-bottom: 8px
				color: $color__2
				font-size: 16px
				font-weight: 700
				line-height: 20px
				text-align: center

			&:not(:last-child)
				margin-right: 24px

	.panel-fissure
		margin-top: 52px
		padding-bottom: 38px

		.panel-fixed-top
			right: 108px
			left: 108px

			.buttons-row
				width: 100%
				padding: 0 12px 16px

				.button-big
					width: calc((100% - 32px) / 5)
					padding-right: 4px
					padding-bottom: 8px
					padding-left: 4px

					&:not(:last-child)
						margin-right: 8px

					.caption
						padding-right: 4px
						padding-left: 4px

					.bd-hover
						right: 8px
						bottom: 4px
						left: 8px

					.bd-black
						right: 8px
						bottom: 0
						left: 8px