.info-inner
	&__list
		display: flex
		flex-direction: column
		gap: 40px

.info-inner-item
	padding: 40px
	color: var(--page-color)
	background-color: var(--accent-color)
	+sm
		padding: 20px
	+ph
		padding: 14px 10px

	&__title
		color: var(--page-color)
	
	&__content
		margin-bottom: 40px
