.links
	display: flex
	align-items: center
	gap: 8px
	
.link-text
	display: flex
	align-items: center
	gap: 10px
	max-width: max-content
	text-align: center
	border-bottom: 1px solid var(--none-color)
	transition: color .2s linear, border-color .2s linear, transform .2s linear
	+hover
		color: var(--grey-color)
	+focus
		border-color: var(--grey-color)
	&:active
		transform: scale(.98)
	&__icon
		width: 20px
		height: 20px
		transition: transform .2s linear

.icon-link
	display: flex
	align-items: center
	justify-content: center
	width: 32px
	height: 32px
	transition: opacity .2s linear
	+hover
		opacity: .7
	+focus
		opacity: .7
	&:active
		opacity: .8

.link
	display: flex
	align-items: center
	justify-content: center
	gap: 10px
	border-radius: 100px
	padding: 8px 18px
	max-width: 200px
	min-width: 64px
	min-height: 48px
	text-align: center
	background-color: var(--bg-link)
	transition: opacity .2s linear
	+hover
		opacity: .6
	+focus
		opacity: .6
	&:active
		opacity: .7

	&_inv
		box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.06)
		background-color: var(--white-color)
		transition: box-shadow .2s linear
		+hover
			opacity: 1
			box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2)
		+focus
			opacity: 1
			box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2)
		&:active
			opacity: 1
			box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3)
	
	&_dark
		font-weight: 400
		color: var(--btn-color)
		background-color: var(--dark-color)

	&_primary
		font-weight: 400
		color: var(--white-color)
		background-color: var(--primary-color)

	&__icon
		width: 16px
		height: 16px
		&_lg
			width: 24px
			height: 24px
	
.link-img
	position: relative
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	gap: 8px
	border-radius: 20px
	padding: 10px
	color: var(--white-color)
	text-align: center
	background-color: var(--white-color)
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	overflow: hidden

	&::after
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: rgba(0, 0, 0, .4)
		transition: background-color .2s linear

	&_no-text
		padding: 0
		&::after
			background-color: rgba(0, 0, 0, .0)

	+hover
		&::after
			background-color: rgba(0, 0, 0, .2)

	+focus
		&::after
			background-color: rgba(0, 0, 0, .2)

	&:active
		&::after
			background-color: rgba(0, 0, 0, .6)

	&__title,
	&__text
		z-index: 1
		color: var(--white-color)

	&__img
		width: 100%
		height: 100%
		object-fit: cover

.link-img-info
	display: flex
	flex-direction: column
	border-radius: 20px
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.06)
	background-color: var(--white-color)
	transition: box-shadow .2s linear
	+hover
		box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2)
	+focus
		box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2)
	&:active
		box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3)

	&__img-wrap
		border-radius: 20px
		max-width: 100%
		width: 100%
		height: 255px
		overflow: hidden

	&__img
		width: 100%
		height: 100%
		object-fit: cover

	&__text-wrap
		display: flex
		align-items: center
		justify-content: center
		min-height: 90px
		padding: 12px
		font-weight: 500
		font-size: 20px
		text-align: center
		+ph
			min-height: 60px
			font-size: 18px
