.form-mod
  display: flex
  flex-direction: column

  .wrap-input
    margin-bottom: 20px

    &__input
      width: 100%
      min-height: 88px
      padding: 20px 40px
      background-color: $clr_0
      border: 1px solid $clr_1
      border-radius: 60px
      color: $clr_1
      transition: border-color .2s linear

      &:not(:last-child)
        margin-bottom: 20px

      &:hover
        border-color: $clr_3

      &:focus
        border-color: $clr_3

      &.error
        border-color: red

        &:hover
          border-color: red

        &:focus
          border-color: red

      +phone
        padding: 20px
        min-height: 40px

    .form-note
      position: relative
      display: block
      cursor: pointer

      &:hover
        .form-note__checkbox
          border-color: $clr_3

          &::after
            background-color: $clr_1

        .form-note__text
          color: $clr_3

      &__input
        display: none

        &:checked + .form-note__checkbox
          &::after
            opacity: 1
            visibility: visible

      &__checkbox
        flex-shrink: 0
        display: inline-flex
        position: absolute
        left: 0
        top: 5px
        width: 16px
        height: 16px
        border: 1px solid $clr_1
        border-radius: 4px
        cursor: pointer
        transition: border-color .2s linear

        &::after
          content: ""
          opacity: 0
          visibility: hidden
          width: 10px
          height: 10px
          position: absolute
          top: 50%
          left: 50%
          border-radius: 2px
          background-color: $clr_3
          transform: translate(-50%,-50%)
          transition: opacity .2s linear, visibility .2s linear, background-color .2s linear

      &__text
        display: inline-block
        @include textReset
        padding-left: 24px
        max-width: 355px
        font-size: 16px
        font-weight: 300
        line-height: 1.3
        color: $clr_1
        transition: color .2s linear
      
    &__btn
      padding: 20px 40px
      max-width: 237px
      min-height: 88px
      font-size: 20px
      color: $clr_1

      +phone
        padding: 20px
        min-height: 40px
        font-size: 16px
