// FONTS
$ff_1: 'Jost', sans-serif

// COLOR
$clr_0: transparent
$clr_1: #FFF
$clr_2: #000535
$clr_3: #D0E4EA
$clr_4: #157897
$clr_5: #E41E23
$clr_6: #F0421C
$clr_7: transparent
$clr_8: transparent
$clr_9: transparent

// SIZE
$size_1: 1417px
