:root
	// container
	--container-width: 1370px
	--container-padding: 25px
	--container-padding-ph: 10px

	// fonts
	--font-family: 'Manrope'

	// colors
	--none-color: transparent
	--color-white: #ffffff
	--color-black: #000000
	--color-smoky-white: #f5f5f5
	--color-smoky-white-2: #f3f3f3
	--color-snow-white: #fcfcfc
	--color-medium-blue: #00709f
	--color-dark-blue: #11202c
	--color-frosty-sky: #00c3ff
	--color-blue-alice: #eef9ff
	--color-red-orange: #db371f
	--background-opacity-black-64: rgba(0, 0, 0, 0.64)
	
