.about
	&__content-wrapper
		padding: 32px 40px
		color: $clr_1
		border-radius: 16px
		background-position: center
		background-repeat: no-repeat
		background-size: cover

		+ph
			padding: 20px

	&__content
		max-width: 636px

	&__title
		color: $clr_1

	&__text
		margin-bottom: 32px
		color: $clr_1

	&__btn
		max-width: 265px
		width: 100%