.faq
	&__container
		display: flex
		flex-direction: column
		align-items: center

	&__title
		text-align: center

	&__list
		display: flex
		flex-direction: column
		max-width: 1138px

	&__list-item
		position: relative
		display: flex
		flex-direction: column
		border-radius: 8px
		background-color: $clr_0
		&::after
			content: ''
			position: absolute
			top: 0
			left: 0
			z-index: -1
			width: 100%
			height: 100%
			overflow: hidden
			border-radius: 8px
			box-shadow: 0 10px 23px 0 rgba(13, 50, 99, 0.06), 0 42px 42px 0 rgba(13, 50, 99, 0.05), 0 94px 57px 0 rgba(13, 50, 99, 0.03), 0 167px 67px 0 rgba(13, 50, 99, 0.01), 0 262px 73px 0 rgba(13, 50, 99, 0)
			opacity: 0
			transition: opacity .2s linear, z-index .2s linear

		&.ac-active
			&::after
				z-index: 1
				opacity: 1

	&__btn
		position: relative
		display: flex
		align-items: center
		padding: 24px 40px
		min-height: 100px
		font-weight: 600
		line-height: 115%
		font-size: 20px
		border: 1px solid $clr_1
		border-radius: 8px
		background-color: $clr_1
		cursor: pointer
		transition: background-color .2s linear, color .2s linear, z-index .2s linear, transform .2s linear
		+sm
			font-size: 18px
		+ph
			padding: 8px 10px
			min-height: 80px
			font-size: 16px

		&:hover:not(.ac-active)
			+hover
				color: $clr_3

		&:focus:not(:active)
			background-color: $clr_4

		&:active
			transform: scale(.99)

		&.ac-active
			color: $clr_3
			z-index: 2
			// box-shadow: 0 10px 23px 0 rgba(13, 50, 99, 0.06), 0 42px 42px 0 rgba(13, 50, 99, 0.05), 0 94px 57px 0 rgba(13, 50, 99, 0.03), 0 167px 67px 0 rgba(13, 50, 99, 0.01), 0 262px 73px 0 rgba(13, 50, 99, 0)

			&:hover
				+hover
					.faq__btn-text
						opacity: .7

					// .faq__btn-icon
					// 	transform: translateX(-3px)

			.faq__btn-icon
				transform: rotateX(180deg)

	&__btn-text
		margin-right: 20px
		text-align: left
		transition: opacity .2s linear

		// +ph
		// 	font-size: 16px
    
	&__btn-wrapper-icon
		display: flex
		align-items: center
		justify-content: center
		flex-shrink: 0
		margin-left: auto
		width: 36px
		height: 36px
		border-radius: 100%
		background-color: $clr_4
		transition: background-color .2s linear

		// +ph
		// 	width: 30px
		// 	height: 30px
    
	&__btn-icon
		width: 16px
		height: 16px
		fill: $clr_3
		// transform: rotate(90deg)
		transition: transform .2s linear

		// +ph
		// 	width: 10px
		// 	height: 15px
    
	&__text
		border-radius: 0 0 8px 8px
		background-color: $clr_1

		&.text-default
			padding: 16px 40px 32px 40px
			color: $clr_2
			box-sizing: border-box
			overflow-x: hidden

			+ph
				padding: 15px
				font-size: 14px
