@font-face 
    font-family: 'golostext'
    src: url('../fonts/golostext-regular.woff') format('woff'), url('../fonts/golostext-regular.woff2') format('woff2')
    font-weight: 400
    font-style: normal
    font-stretch: normal

@font-face 
    font-family: 'golostext'
    src: url('../fonts/golostext-medium.woff') format('woff'), url('../fonts/golostext-medium.woff2') format('woff2')
    font-weight: 500
    font-style: normal
    font-stretch: normal

@font-face 
    font-family: 'golostext'
    src: url('../fonts/golostext-bold.woff') format('woff'), url('../fonts/golostext-bold.woff2') format('woff2')
    font-weight: 700
    font-style: normal
    font-stretch: normal

@font-face 
    font-family: 'ptsans'
    src: url('../fonts/ptsans-narrow.woff') format('woff'), url('../fonts/ptsans-narrow.woff2') format('woff2')
    font-weight: 400
    font-style: normal
    font-stretch: normal

@font-face 
    font-family: 'ptsans'
    src: url('../fonts/ptsans-narrowbold.woff') format('woff'), url('../fonts/ptsans-narrowbold.woff2') format('woff2')
    font-weight: 700
    font-style: normal
    font-stretch: normal

