.header
	&__container
		display: flex
		align-items: center
		padding-top: 24px
		padding-bottom: 24px

	&__logo-link
		margin-left: auto
		padding-right: 116px

	&__feedback
		display: flex
		gap: 12px

	&__feedback-link
		&_lang
			padding: 8px 14px
