:root
	// container
	--container-width: 1269px
	--container-padding: 25px
	--container-padding-ph: 10px

	// fonts
	--font-main: 'Bahnschrift', sans-serif

	// colors
	--none-color: transparent
	--page-color: #FCFCFC
	--text-color: #2b2b2b
	--error-color: #E01934
	--accent-color: #103a8c
	--active-color: #5289f8
	--block-color: #f3f7ff

	// medias
	--laptop-size: 1199px
	--tablet-size: 991px
	--mobile-size: 767px
