.article
  &__title
    margin-bottom: 20px
  &__content
    max-width: 85%
    // +sm
    //   max-width: 100%

  &__info
    margin-bottom: 20px
    padding: 10px
    max-width: max-content
    background-color: $clr_4
    border-radius: 8px