.contacts
  &__title
    margin-bottom: 32px

  &__content-wrapper
    display: flex
    gap: 8px
    +ph
      flex-direction: column

  &__map-wrapper
    position: relative
    max-width: 70%
    width: 100%
    height: 550px
    border-radius: 8px
    overflow: hidden
    +sm
      max-width: 60%
    +ph
      max-width: 100%
      height: 350px
      border-radius: 10px
			
  &__map-link
    position: absolute
    top: 0px
    color: #eee
    font-size: 12px

    &_two
      top: 14px

  &__map
    position: relative
    border: none
    width: 100%
    height: 100%

  &__content
    display: flex
    flex-direction: column
    gap: 20px
    padding: 40px
    max-width: 30%
    width: 100%
    border-radius: 8px
    background-color: $clr_4
    // color: $clr_1
    box-shadow: 0 10px 23px 0 rgba(13, 50, 99, 0.06), 0 42px 42px 0 rgba(13, 50, 99, 0.05), 0 94px 57px 0 rgba(13, 50, 99, 0.03), 0 167px 67px 0 rgba(13, 50, 99, 0.01), 0 262px 73px 0 rgba(13, 50, 99, 0)
    +sm
      padding: 30px
      max-width: 40%
    +ph
      padding: 20px
      max-width: 100%
      box-shadow: none

  &__item
    display: flex
    flex-direction: column
    gap: 8px

  &__item-title
    font-weight: 600
    font-size: 18px
    color: $clr_3

  // &__link
  //   color: $clr_1

  //   &:hover
  //     +hover
  //       color: $clr_2

  //       .link-text__icon
  //         fill: $clr_2

  //   .link-text__icon
  //     fill: $clr_1
    
  &__links-social
    display: flex
    gap: 12px

  &__link-icon
    width: 30px
    height: 30px
    fill: $clr_1
    &:hover
      +hover
        .link-icon__item
          fill: $clr_2

    .link-icon__item
      fill: $clr_1

  &__address
    +ph
      font-size: 16px