.main
  margin-bottom: 100px

  +sm
    margin-bottom: 80px

  &.gallery
    .content
      width: 100%

.content
  padding: 20px
  border-radius: 8px
  background-color: $clr_1

  +ph
    padding: 10px

  &__title
    margin-bottom: 40px

  &__text-default
    max-width: 85%

    +sm
      max-width: 100%