:root
	// container
	--container-width: 1210px
	--container-padding: 25px
	--container-padding-ph: 10px

	// fonts
	--font-main: 'Montserrat', sans-serif

	// colors
	--none-color: transparent
	--white-color: #fff
	--page-color: var(--white-color)
	--text-color: #1c1c1c
	--text-second-color: #494949
	--btn-hover-color: #e7e7e7
	--btn-active-color: #d4d2d2
	--bg-color: #f3f3f3
	--error-color: #E01934
	--success-color: #90ee90
	--green-color: #278B2F
	--green-hover-color: #237a2a
	--green-active-color: #1b5e20
	--accent-color: #f46046
	--hover-color: #f78b78
	--active-color: #f68b78
