.main-content-top
	&__container
		display: flex
		padding-top: 10px

	&__address
		display: flex
		flex-direction: column
		gap: 20px
		margin: 0 auto
		max-width: 220px
		line-height: 130%
		font-size: 30px
		text-align: center

	&__link
		position: absolute
		top: 50%
		right: 20px
		width: 47px
		height: 47px
		background-repeat: no-repeat
		background-position: center
		background-image: url('../img/home/main/content-top/link-point.png')
		transform: translateY(-50%)

