.footer
	margin-top: auto
	text-transform: uppercase
	font-size: 14px
	+sm
		font-size: 12px

	&__container
		display: flex
		justify-content: space-between
		gap: 20px
		padding-top: 20px
		padding-bottom: 20px
		+ph
			flex-direction: column
			align-items: center
			gap: 12px
			padding-top: 12px
			padding-bottom: 12px

.link-web2
	gap: 10px

	&__icon
		width: 47px
		// height: 20px
		+ph
			width: 40px