.form-success
	display: flex
	flex-direction: column
	align-items: center
	text-align: center
	gap: 20px
	color: $clr_3

	+sm
		width: 100%

	+ph
		gap: 10px

	&__descr
		font-weight: 600
		font-size: 40px

		+ph
			margin-bottom: 10px
			font-size: 30px

		&_last
			font-weight: 400
			font-size: 18px
			color: $clr_3

			+ph
				font-size: 18px
