.home-page
  .header-menu
    display: flex
    +sm
      display: none
.header
  position: fixed
  z-index: 500
  +ph
    background-color: $clr_2

  &__menu-container
    +ph
      padding: 0

  &.header_active
    background-color: $clr_2
    &:hover
      +hover
        max-height: 100%
        .header-menu
          max-height: 56px
          opacity: 1
          transform: translateY(0)

    .header-menu
      max-height: 0
      opacity: 0
      transform: translateY(-20px)
      +ph
        max-height: max-content
        opacity: 1
        transform: translateY(0)
      &__list
        border-color: $clr_0

      &__list-link
        &:hover
          +hover
            border-color: $clr_1
        &:focus-visible:not(:active),
        &:focus:not(:active)
          border-color: $clr_1

.header-top
  padding: 20px 0
  color: $clr_1
  background-color: $clr_2
  transition: margin .2s linear, padding-top .2s linear
  +ph
    gap: 0 12px
    padding: 18px 0

  &__container
    position: static
    display: flex
    align-items: center
    justify-content: space-between
    gap: 20px
    +ph
      gap: 20px 10px

  &__logo
    max-width: 231px
    max-height: 20px
    +ph
      max-width: 200px

.header-list-links
  display: flex
  align-items: center
  gap: 10px 16px
  flex-wrap: wrap
  +sm
    display: none

  &__item
    &:first-child
      margin-right: 28px
      +md
        margin-right: 0

.header-feedback
  display: flex
  align-items: center
  justify-content: flex-end
  flex-wrap: wrap
  gap: 10px 40px
  +lr
    gap: 10px 20px
  +sm
    margin-left: auto
    margin-right: 10px
  //   display: none

  &__item
    &_ph-hidden
      +ph
        display: none
      
    &_ph
      display: none
      +ph
        display: flex
    
.header-menu
  display: none
  align-items: center
  justify-content: center
  color: $clr_1
  transition: transform .2s linear, max-height .2s linear
  +sm
    display: none

  &__list
    display: flex
    align-items: center
    border-bottom: 1px solid rgba($clr_2, .4)

  &__list-link
    display: flex
    align-items: center
    padding: 16px 20px
    width: 100%
    min-height: 48px
    height: 100%
    border-bottom: 2px solid $clr_0
    transition: transform .2s linear, border-color .2s linear
    &:hover
      +hover
        border-color: $clr_2
    &:focus-visible:not(:active),
    &:focus:not(:active)
      border-color: $clr_3
    &:active
      transform: scale(.98)

// КНОПКА ОТКРЫТИЯ МОБИЛЬНОГО МЕНЮ
.menu-toggle
  display: none
  width: 30px
  height: 25px
  +sm
    position: relative
    z-index: 30000
    display: block
  +ph
    width: 25px
    height: 20px

  &__item
    position: absolute
    display: block
    width: 100%
    height: 2px
    background-color: $clr_1
    transform: rotate(0) translate(0, 0)
    transition: all .3s linear

    &:nth-child(1)
      top: 0
      left: 0

    &:nth-child(2)
      top: 50%
      left: 0
      transform: translateY(-50%)
      opacity: 1

    &:nth-child(3)
      bottom: 0
      left: 0

  &.menu-toggle_active
    .menu-toggle__item
      &:nth-child(1)
        top: 50%
        left: 50%
        transform: rotate(45deg) translate(-50%, -50%)
        transform-origin: top left

      &:nth-child(2)
        left: 100%
        transform: translateY(0)
        opacity: 0

      &:nth-child(3)
        bottom: 50%
        left: 50%
        transform: rotate(-45deg) translate(-50%, 50%)
        transform-origin: bottom left
