:root
	// container
	--container-width: 1569px
	--container-padding: 25px
	--container-padding-ph: 10px

	// fonts
	--font-main: 'PixeloidSans', sans-serif

	// colors
	--none-color: transparent
	--white-color: #fff
	--page-color: var(--bg-color)
	--text-color: #030500
	--text-second-color: #494949
	--link-color: #8d9ff6
	--btn-hover-color: #e7e7e7
	--btn-active-color: #d4d2d2
	--bg-color: #24233d
	--bg-second-color: #323451
	--bg-third-color: #7C8CD9
	--bg-fourth-color: #56556A
	--bg-fifth-color: #42415E
	--error-color: #E01934
	--success-color: #90ee90
	--green-color: #719F09
	--green-hover-color: #9ECB3A
	--green-active-color: #1b5e20
	--pink-color: #F834EC
	--pink-hover-color: #FF83F7
	--blue-color: #0197DB
	--blue-hover-color: #56caff
	--accent-color: #615F83
	--accent-text-color: #11deff
	--hover-color: #f78b78
	--active-color: #f68b78
	--scroll-color: #8381AD

// fonts
$pixeloid: 'PixeloidSans', sans-serif
//	colors
$color__0: transparent
$color__1: #24233d
$color__2: #ffffff
$color__3: #7c8cd9
$color__4: #f834ec
$color__5: #719f09
$color__6: #0197db
$color__7: #8381ad
$color__8: #030500
$color__9: #b6b1c9
$color__10: #dedbe4
$color__11: #615f83
$color__12: #908eba
$color__13: #42415e
$color__14: #00000059	//	35%
$color__15: #2c2a4f
$color__16: #b1a7c6
$color__17: #00628e
$color__18: #56caff
$color__19: #77d5ff
$color__20: #a59abc
$color__21: #626db9
$color__22: #c7d1ff
$color__23: #b2d26b
$color__24: #54730e
$color__25: #ff95f9
$color__26: #9a2093
$color__27: #ff83f7
$color__28: #3d3c5e
$color__29: #75739c
$color__30: #feae34
$color__31: #ffdeab
$color__32: #8e611b
$color__33: #e43b44
$color__34: #ff868d
$color__35: #741d22
$color__36: #63c74d
$color__37: #b8ffa8
$color__38: #267f13
$color__39: #0095e9
$color__40: #98daff
$color__41: #226184
$color__42: #b55088
$color__43: #ff99d2
$color__44: #7d2d59
$color__45: #7a78a8
$color__46: #ffffff80	//	50%
$color__47: #ff6a5c
$color__48: #03050099	//	60%
$color__49: #a2a0d0
$color__50: #00000040	//	25%
$color__51: #9ecb3a