.home-development
	.block
		padding: 30px 65px
		+ph
			padding: 20px 15px

		&__content-wrap
			align-items: center

		&__text
			margin-bottom: 26px

		&__img-wrap
			max-width: 498px
			min-height: 427px
			+ph
				min-height: 250px
