.home-support
	.block
		padding: 32px 42px 12px 42px
		+ph
			padding: 20px 12px

		&__content-wrap
			+ph
				gap: 20px

		&__img-wrap
			max-width: 414px
			max-height: 406px
			min-height: 406px
			+ph
				max-height: 250px
				min-height: 250px

		&__text-wrap
			margin-bottom: 44px
			+ph
				margin-bottom: 22px

	.btn-big
		max-width: 300px
		&__caption
			min-width: 229px
			min-height: 50px
