@font-face 
    font-family: 'velasans'
    src: url('../fonts/velasans-regular.woff') format('woff'), url('../fonts/velasans-regular.woff2') format('woff2')
    font-weight: 400
    font-style: normal
    font-stretch: normal

@font-face 
    font-family: 'velasans'
    src: url('../fonts/velasans-medium.woff') format('woff'), url('../fonts/velasans-medium.woff2') format('woff2')
    font-weight: 500
    font-style: normal
    font-stretch: normal

@font-face 
    font-family: 'velasans'
    src: url('../fonts/velasans-bold.woff') format('woff'), url('../fonts/velasans-bold.woff2') format('woff2')
    font-weight: 700
    font-style: normal
    font-stretch: normal