// ОБЩИЕ СТИЛИ
html
  width: 100%
  max-width: 100%
  box-sizing: border-box
  overflow-x: hidden

  &.overflow
    overflow-x: auto

  &.pre-hidden
    padding-right: 16px
    overflow-y: hidden !important

    +lr
      padding-right: 0

header,section,main,footer
  width: 100%

html.mod-open
  padding-right: 16px
  overflow-y: hidden !important

  +lr
    padding-right: 0

  .header_active
    left: -8px

    +lr
      left: 0

  .scroll-top,.social-panel
    right: 46px

    +ph
      right: 20px
  
*,
*::before,
*::after
  box-sizing: inherit

body
  position: relative
  display: flex
  flex-direction: column
  margin: 0
  width: 100%
  max-width: 100%
  min-width: 320px
  min-height: 100vh
  font-family: $ff_1
  font-weight: 400
  font-size: 18px
  color: $clr_1
  background-color: $clr_2
  overflow-x: hidden

  +sm
    font-size: 16px

  &.overflow
    overflow-x: visible

  &.loading
    opacity: 1

  &::-webkit-scrollbar
    width: 16px
    background-color: $clr_2

  &::-webkit-scrollbar-thumb
    background-color: $clr_3

html.menu-open,
body.menu-open
  +sm
    overflow: hidden

*::selection
  background-color: rgba($clr_3, .8)
  color: $clr_2

ul,ol,h1,h2,h3,h4,h5,h6,p
  margin: 0
  padding: 0

a
  text-decoration: none
  color: inherit

ul
  list-style: none

img
  max-width: 100%

svg
  width: 100%
  height: 100%
  flex-shrink: 0
  font-size: 0

address
  font-style: normal

input,
textarea
  outline: none
  border: none

button
  display: block
  padding: 0
  outline: none
  border: none
  background-color: transparent
  cursor: pointer

a
  &:focus:not(:active)
    outline: none

.section-reset
  position: relative
  margin-bottom: 150px

  +ph
    margin-bottom: 80px

.container
  position: relative
  margin: 0 auto
  padding-left: 25px
  padding-right: 25px
  max-width: $size_1
  width: 100%

  +ph
    padding: 0 10px

.container-inner
  position: relative
  margin: 0 auto
  padding-left: 25px
  padding-right: 25px
  max-width: 1670px
  width: 100%

  +ph
    padding: 0 10px

.page-bg-img
  position: absolute
  top: 0
  width: 32%
  height: 100%
  background-position: center
  background-size: cover
  background-repeat: no-repeat

  +ph
    width: 50%

  &_left
    left: 0
    background-image: url(../img/common/bg-img-left.png)

  &_right
    right: 0
    background-image: url(../img/common/bg-img-right.png)

.color
  color: $clr_3

.main_active
  padding-top: 181px

  +sm
    padding-top: 159px

  +ph
    padding-top: 105px

.hidden-text
  position: absolute
  clip: rect(0,0,0,0)
  margin: -1px
  padding: 0
  border: 0
  width: 1px
  height: 1px
  overflow: hidden

.overflow-hidden

  +sm
    max-height: 0
    overflow: hidden
    transition: max-height .3s linear

.logo
  font-size: 0
  flex-shrink: 0

  &__img
    width: 100%
    height: 100%
    font-size: 0
    transition: opacity .2s linear

    &:hover
      +hover
        opacity: .7

.link
  display: flex
  align-items: center
  max-width: max-content
  line-height: 150%
  color: $clr_1
  border-bottom: 2px solid $clr_3
  transition: color .2s linear, border-color .2s linear, transform .1s linear

  &:hover
    +hover
      border-color: $clr_1

      .link__icon
        fill: $clr_2

  &:focus:not(:active)
    outline: none
    border-color: $clr_2

  &:active
    transform: scale(.98)

  &__icon
    flex-shrink: 0
    margin-right: 8px
    width: 26px
    height: 26px
    fill: $clr_2
    transition: fill .2s linear

.link-invert
  display: flex
  align-items: center
  max-width: max-content
  line-height: 150%
  color: $clr_1
  border-bottom: 2px solid $clr_0
  transition: color .2s linear, border-color .2s linear

  &:hover
    +hover
      color: $clr_3

      .link-invert__icon
        fill: $clr_1

  &:focus:not(:active)
    outline: none
    border-color: $clr_2

  &__icon
    flex-shrink: 0
    margin-right: 8px
    width: 20px
    height: 20px
    fill: $clr_3
    transition: fill .2s linear

.h-1
  font-family: $ff_2
  font-weight: 400
  line-height: 100%
  font-size: 60px
  text-transform: uppercase

  +lr
    font-size: 50px

  +md
    font-size: 40px

.h-2
  margin-bottom: 20px
  font-family: $ff_2
  font-weight: 400
  line-height: 90%
  font-size: 50px
  color: $clr_1
  text-transform: uppercase

  +md
    font-size: 45px

  +sm
    font-size: 40px

  +ph
    font-size: 30px

.h-3
  font-family: $ff_2
  font-weight: 500
  line-height: 120%
  font-size: 18px
  color: $clr_2

  +md
    font-size: 20px

  +ph
    font-size: 18px

.h-4
  margin-bottom: 30px
  font-family: $ff_2
  font-size: 30px
  font-weight: 700
  color: $clr_2

.h-5
  margin-bottom: 30px
  font-family: $ff_2
  font-size: 30px
  font-weight: 700
  color: $clr_2

.h-6
  margin-bottom: 30px
  font-family: $ff_2
  font-size: 30px
  font-weight: 700
  color: $clr_2
  text-transform: uppercase

.subtitle
  margin-bottom: 10px
  font-size: 20px
  font-weight: 500
  color: $clr_3
  text-transform: uppercase

  +md
    font-size: 18px
  
  +sm
    font-size: 16px

  +ph
    margin-bottom: 10px
    font-size: 14px

.line
  display: block
  margin-bottom: 32px
  width: 100px
  height: 3px
  border-radius: 1px
  background-color: $clr_1

.button
  display: flex
  align-items: center
  justify-content: center
  padding: 10px 10px
  max-width: 120px
  min-height: 45px
  font-weight: 600
  font-size: 18px
  color: $clr_5
  text-align: center
  border: 1px solid $clr_0
  border-radius: 2px
  background-color: rgba($clr_4, .2)
  transition: background-color .2s linear, border-color .2s linear, color .2s linear, transform .2s linear

  &:hover
    +hover
      color: $clr_1
      background-color: rgba($clr_4, .4)

  &:focus:not(:active)
    border-color: $clr_3

  &:active
    transform: scale(.94)

  &__text

    &_ph
      +ph
        display: none

  &__icon
    width: 26px
    height: 26px
    fill: $clr_3

    &_ph
      display: none

      +ph
        display: flex

.button-invert
  display: flex
  align-items: center
  justify-content: center
  padding: 10px 10px
  max-width: 152px
  min-height: 46px
  text-align: center
  text-transform: uppercase
  font-weight: 400
  font-size: 17px
  color: $clr_1
  border: 3px solid $clr_3
  border-radius: 2px
  background-color: $clr_0
  transition: color .2s linear, border-color .2s linear, background-color .2s linear, transform .2s linear

  +md
    font-size: 15px

  +ph
    font-size: 14px

  &:hover
    +hover
      color: $clr_3
      border-color: $clr_1

  &:focus:not(:active)
    background-color: $clr_3

  &:active
    transform: scale(.94)

  &__text
    margin-right: 10px

  &__icon
    width: 14px
    height: 14px
    fill: $clr_3
    transition: fill .2s linear
    
.form-list
  display: flex
  flex-direction: column
  gap: 12px
  width: 100%

  &__item
    display: flex
    flex-direction: column
    width: 100%

  &__item-label
    margin-bottom: 18px
    font-weight: 400
    letter-spacing: .09em
    text-transform: uppercase

    +ph
      margin-bottom: 10px

.link-icon
  display: flex
  align-items: center
  justify-content: center
  flex-shrink: 0
  width: 45px
  height: 45px
  border-radius: 2px
  background-color: rgba($clr_4, .2)
  transition: background-color .2s linear, 

  &:hover
    +hover
      .link-icon__img
        fill: $clr_1

  &:focus:not(:active)
    background-color: rgba($clr_4, .8)

  &:active
    .link-icon__img
      transform: scale(.94)

  &__img
    width: 26px
    height: 26px
    fill: $clr_3
    transition: fill .2s linear, transform .2s linear

  
.input
  padding: 16px 20px
  width: 100%
  min-height: 50px
  border: 1px solid $clr_1
  border-radius: 2px
  background-color: $clr_0
  color: $clr_1
  transition: border-color .2s linear

  +ph
    width: 100%
    font-size: 14px

  &.error
    border-color: $clr_er

    &:hover
      +hover
        border-color: $clr_er

    &:focus
      border-color: $clr_er

  &:hover
    +hover
      border-color: $clr_3

  &:focus:not(:active)
    border-color: $clr_3

.input-invert
  padding: 16px 20px
  width: 100%
  min-height: 50px
  border: 1px solid $clr_0
  border-radius: 4px
  background-color: rgba($clr_1, .2)
  color: $clr_1
  transition: border-color .2s linear, background-color .2s linear

  +ph
    width: 100%
    font-size: 14px

  &.error
    border-color: $clr_er

    &:hover
      +hover
        border-color: $clr_er

    &:focus
      border-color: $clr_er

  &:hover
    +hover
      background-color: rgba($clr_1, .4)

  &:focus:not(:active)
    border-color: $clr_1

.textarea
  padding: 14px 20px
  width: 100%
  resize: none
  min-height: 178px
  border: 1px solid $clr_1
  border-radius: 2px
  background-color: $clr_0
  line-height: 120%
  color: $clr_1
  transition: border-color .2s linear

  +ph
    width: 100%
    font-size: 14px

  &.error
    border-color: $clr_er

    &:hover
      +hover
        border-color: $clr_er

    &:focus
      border-color: $clr_er

  &:hover
    +hover
      border-color: $clr_3

  &:focus:not(:active)
    border-color: $clr_3

.textarea-invert
  padding: 14px 20px
  width: 100%
  resize: none
  min-height: 178px
  border: 1px solid $clr_0
  border-radius: 4px
  background-color: rgba($clr_1, .2)
  line-height: 120%
  color: $clr_1
  transition: border-color .2s linear, background-color .2s linear

  +ph
    width: 100%
    font-size: 14px

  &.error
    border-color: $clr_er

    &:hover
      +hover
        border-color: $clr_er

    &:focus
      border-color: $clr_er

  &:hover
    +hover
      background-color: rgba($clr_1, .4)

  &:focus:not(:active)
    border-color: $clr_1

.form-note
  position: relative
  display: block
  cursor: pointer
  font-size: 14px

  &:hover
    +hover

  &__input
    display: none

    &:checked + .form-note__checkbox
      &::after
        opacity: 1
        visibility: visible

  &__checkbox
    flex-shrink: 0
    display: inline-flex
    position: absolute
    top: 7px
    left: 0
    width: 16px
    height: 16px
    border: 1px solid $clr_1
    border-radius: 2px
    cursor: pointer
    transition: border-color .2s linear

    &::after
      content: ""
      position: absolute
      top: 50%
      left: 50%
      width: 8px
      height: 8px
      border-radius: 2px
      background-color: $clr_3
      transform: translate(-50%,-50%)
      visibility: hidden
      opacity: 0
      transition: opacity .2s linear, visibility .2s linear, background-color .2s linear

  &__text
    display: inline-block
    padding-left: 24px
    transition: color .2s linear

  &__text-link
    display: inline
    color: $clr_3
    border-bottom: 1px solid $clr_0
    transition: color .2s linear

    &:hover
      +hover
        color: $clr_1

    &:focus:not(:active)
      border-color: $clr_3

// СТИЛИ ДЛЯ ВНУТРЕННИХ СТРАНИЦ
.text-default
  font-size: 18px
  line-height: 150%
  color: $clr_6

  +ph
    font-size: 16px

  h1
    font-family: $ff_2
    font-weight: 700
    line-height: 130%
    font-size: 90px

    +lr
      font-size: 80px

    +sm
      font-size: 70px

    +ph
      font-size: 60px

  h2
    font-family: $ff_2
    margin-bottom: 26px
    font-weight: 500
    line-height: 120%
    font-size: 60px

    +sm
      margin-bottom: 25px
      font-size: 50px

    +ph
      margin-bottom: 15px
      font-size: 40px

  h3
    font-family: $ff_2
    margin-bottom: 20px
    font-weight: 400
    line-height: 120%
    font-size: 50px

    +sm
      margin-bottom: 25px
      font-size: 40px

    +ph
      margin-bottom: 15px
      font-size: 35px

  h4
    font-family: $ff_2
    font-size: 20px
    font-weight: 700
    line-height: 130%
    color: $clr_2
    text-transform: uppercase

    +md
      font-size: 24px

    +sm
      margin-bottom: 25px

    +ph
      margin-bottom: 15px

  p

    &:not(:last-child)
      margin-bottom: 10px

      +ph
        margin-bottom: 15px

  a
    font-weight: 700
    color: $clr_3
    border-bottom: 2px solid $clr_0
    transition: border-color .2s linear

    &:hover
      +hover
        border-color: $clr_3

  img
    
    +ph
      margin: 0!important
      margin-bottom: 15px!important
      width: 100%

  ul
    margin-bottom: 20px
    padding-left: 42px
    list-style-image: url(../img/mark-list.svg)

    +ph
      padding-left: 30px

    li:not(:last-child)
      margin-bottom: 10px

  ol
    margin-bottom: 20px
    padding-left: 40px

    +ph
      padding-left: 30px

    li

      &::marker
        font-family: $ff_1
        font-size: 20px
        font-weight: 600
        color: $clr_3

    li:not(:last-child)
      margin-bottom: 10px

  blockquote
    margin: 0
    margin-bottom: 20px
    padding: 20px 10px 20px 20px
    color: $clr_1
    border-radius: 10px
    border: 4px solid $clr_3
    background-color: rgba($clr_4, .5)
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1), 0 14px 14px 0 rgba(0, 0, 0, 0.09), 0 31px 19px 0 rgba(0, 0, 0, 0.05), 0 56px 22px 0 rgba(0, 0, 0, 0.01), 0 87px 24px 0 rgba(0, 0, 0, 0)

    ul
      margin-bottom: 0

    p
      margin: 0

  table
    margin-bottom: 30px
    max-width: 100%
    width: 100%
    border-collapse: collapse
    border-radius: 10px
    overflow: hidden
    text-transform: uppercase
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1), 0 14px 14px 0 rgba(0, 0, 0, 0.09), 0 31px 19px 0 rgba(0, 0, 0, 0.05), 0 56px 22px 0 rgba(0, 0, 0, 0.01), 0 87px 24px 0 rgba(0, 0, 0, 0)

    +lr
      font-size: 16px

    +ph
      display: block
      margin: auto
      font-size: 14px
      width: fit-content
      overflow-x: auto

    p
      @include textReset

    tr
      background-color: rgba($clr_3, .4)
      
      &:nth-child(1)
        color: $clr_1
        background-color: rgba($clr_3, .2)
        text-align: center

        td
          border: none

      &:nth-child(2n)
        color: $clr_1
        background-color: rgba($clr_2, .5)
        background-image: none

    th, td
      padding: 20px

      +ph
        padding: 14px

    td

      &:not(:first-child)
        min-width: 129px

// НАВЕРХ СТРАНИЦЫ
.scroll-top
  position: fixed
  z-index: 30
  right: 30px
  bottom: 50px
  display: flex
  align-items: center
  justify-content: center
  width: 50px
  height: 50px
  border: 2px solid $clr_0
  border-radius: 2px
  background-color: rgba($clr_4, .2)
  backdrop-filter: blur(6px)
  opacity: 0
  box-shadow: 1px 8px 17px 0px rgba(0, 0, 0, 0.05), 3px 31px 31px 0px rgba(0, 0, 0, 0.04), 8px 70px 42px 0px rgba(0, 0, 0, 0.02), 13px 124px 50px 0px rgba(0, 0, 0, 0.01), 21px 194px 55px 0px rgba(0, 0, 0, 0)
  transform: translateY(200px)
  transition: background-color .2s linear, transform .2s linear, opacity .2s linear, border-color .2s linear

  +ph
    right: 10px
    bottom: 20px
    width: 45px
    height: 45px

  &_active
    opacity: 1
    transform: translateY(0px)

  &:hover
    +hover
      background-color: rgba($clr_4, .4)
      transform: translateY(0px)

  &:focus:not(:active)
    border-color: $clr_1

  &:active
    transform: scale(.94)

  &__icon
    display: inline-flex
    width: 16px
    height: 16px
    fill: $clr_3
    transform: rotate(-45deg)
    transition: fill .2s linear, transform .2s linear

    +ph
      width: 14px
      height: 14px

// COOKIES
.cookies
  position: fixed
  z-index: 10000
  right: 0
  bottom: 15px
  padding: 0px 25px
  display: flex
  justify-content: flex-end
  max-width: max-content

  +ph
    padding: 0px 10px

  &__content-wrapper
    display: flex
    align-items: center
    justify-content: center
    gap: 20px
    padding: 20px
    max-width: 512px
    width: 100%
    font-size: 16px
    border-radius: 10px
    background-color: rgba($clr_3, .2)
    backdrop-filter: blur(10px)

    +ph
      flex-direction: column
      align-items: flex-start
      gap: 10px
      padding: 10px
      font-size: 14px

  &__content-text-link
    display: inline

  &__btn
    display: flex
    align-items: center
    justify-content: center
    padding: 10px
    max-width: 200px
    min-height: 45px
    font-size: 16px
    color: $clr_1
    text-align: center
    border-radius: 2px
    border: 1px solid $clr_0
    background-color: $clr_3
    transition: color .2s linear, background-color .2s linear, border-color .2s linear, transform .2s linear

    +xs
      max-width: 100%
      width: 100%

    &:hover
      +hover
        color: $clr_3
        background-color: $clr_1

    &:focus:not(:active)
      border-color: $clr_1

    &:active
      transform: scale(.94)

.preloader
  position: fixed
  top: 0
  left: 0
  display: flex
  align-items: center
  justify-content: center
  z-index: 100000
  width: 100%
  height: 100%
  opacity: 1
  background-color: $clr_2
  transition: opacity .3s linear

  &.hidden
    animation: fadeOut 1s
    animation-fill-mode: forwards

  &__item
    display: inline-block
    font-family: Consolas, Menlo, Monaco, monospace
    font-size: 60px
    opacity: .8
    animation: pulse .4s alternate infinite ease-in-out

    &_last
      animation-delay: .4s
      z-index: 1100

// АНИМАЦИЯ
@keyframes pulse
  to
    transform: scale(.8)
    opacity: .5

@keyframes fadeOut
  100%
    opacity: 0
    visibility: hidden

@keyframes fadeInUp
  from
    opacity: 0
    top: -50px
  
  to
    opacity: 1
    top: 0

@keyframes opacity
  0%
    opacity: 0

  100%
    opacity: 1
