// FONTS
$ff_1: 'Manrope', sans-serif
$ff_2: 'Radiotechnika400', serif

// COLOR
$clr_0: transparent
$clr_1: #FFF
$clr_2: #11071F
$clr_3: #6385E3
$clr_4: transparent
$clr_5: transparent
$clr_6: transparent
$clr_7: transparent 
$clr_8: transparent
$clr_9: transparent
$clr_er: #E01934

// SIZE
$size_1: 1332px
