// FONTS
$ff_1: 'Raleway', sans-serif

// COLOR
$clr_0: transparent
$clr_1: #FFF
$clr_2: #000014
$clr_3: #26579D
$clr_4: #e9eef5
$clr_5: #ffd9d9
$clr_6: #E8F9EC
$clr_7: #fff5e7
$clr_8: transparent
$clr_9: transparent
$clr_er: #ff4040

// SIZE
$size_1: 1417px
