.footer
	margin-top: auto
	background-color: var(--bg-color)

	&__container
		display: flex
		justify-content: space-between
		align-items: center
		gap: 20px
		padding-top: 16px
		padding-bottom: 16px
		font-family: var(--font-second)
		font-weight: 300
		font-size: 16px
		color: var(--white-color)
		text-transform: uppercase
		+sm
			flex-direction: column

	&__dev-wrap
		display: flex
		align-items: center
		gap: 8px

	&__links
		display: flex
		gap: 20px