.about
	&__content-wrap
		position: relative
		padding: 18px 16px
		min-height: 223px
		overflow: hidden
		box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.12)
		background-color: var(--white-color)

	&__content
		position: relative
		z-index: 1
		max-width: 968px
		width: 100%

	&__img
		position: absolute
		right: 0
		bottom: 0
		z-index: 0
		width: 569px
		height: 180px
		+ph
			opacity: 0.6