.advantages
	background: linear-gradient(90deg, #12a26f 0%, #00c7f0 100%)

	&__img
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		height: 432px
		background-repeat: no-repeat
		background-position: center

	&__container
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		padding-top: 64px
		padding-bottom: 64px

	.title-wrap
		&__title,
		&__subtitle
			color: var(--white-color)

	&__list
		display: grid
		grid-template-columns: repeat(2, 1fr)
		grid-auto-rows: minmax(90px, max-content)
		gap: 32px
		max-width: 1050px
		width: 100%
		+sm
			gap: 24px
		+ph
			grid-template-columns: 1fr
			grid-auto-rows: minmax(48px, max-content)
			gap: 12px

	&__list-item
		display: flex
		align-items: center
		gap: 32px
		border-radius: 20px
		padding: 22px 20px
		box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.06)
		background-color: var(--white-color)
		+sm
			gap: 24px
		+ph
			gap: 12px
			padding: 14px

	&__list-item-img
		flex-shrink: 0
		width: 40px
		height: 40px
		background-size: cover
		background-position: center
		background-repeat: no-repeat
		+ph
			width: 32px
			height: 32px

	&__list-item-text
		max-width: 212px
		font-weight: 500
		font-size: 20px
		+sm
			font-size: 18px
		+ph
			font-size: 16px