.form-success
	display: flex
	flex-direction: column
	align-items: center
	font-weight: 600
	font-size: 50px
	// text-transform: uppercase
	text-align: center
	color: $clr_2

	+small
		width: 100%
		font-size: 30px

	+phone
		font-size: 25px

	&__box
		&.modal-box
			+phone
				padding: 30px

	.form-success__descr
		@include textReset
		margin-bottom: 20px
		color: $clr_3
		font-family: $ff_1

		+phone
			margin-bottom: 15px

	.form-success__descr.last
		margin: 0
		font-size: 24px
		color: $clr_2

		+phone
			font-size: 20px
