.rates
	margin-bottom: 120px

	+phone
		margin-bottom: 80px

	.content
		display: flex
		align-items: flex-end
		justify-content: space-between
		padding: 53px
		background-image: url(../img/rates/bg-img.jpg)
		background-position: center
		background-size: cover
		background-repeat: no-repeat

		+small
			flex-direction: column
			align-items: flex-start
			padding: 30px

		+phone
			padding: 20px

		&__descr
			@include textReset
			margin-right: 20px
			max-width: 710px
			font-family: $ff_2
			font-size: 60px
			line-height: 1.2
			text-transform: uppercase

			+medium
				font-size: 40px

			+small
				margin-right: 0
				margin-bottom: 20px

			+phone
				font-size: 30px
