.services

  &__descr
    @include textReset
    margin-bottom: 32px
    max-width: 421px

    +phone
      margin-bottom: 20px

  .content
    display: flex
    justify-content: space-between

    +small
      flex-direction: column

    .list
      max-width: 421px
      width: 100%
      margin-right: 28px

      +small
        margin-right: 0
        margin-bottom: 20px
        max-width: 100%
      
      &__item
        
        &:not(:last-child)
          margin-bottom: 20px

          +phone
            margin-bottom: 10px

      .link
        display: flex
        align-items: center
        justify-content: space-between
        padding: 20px
        width: 100%
        background-color: rgba($clr_3, .1)
        border-radius: 8px
        transition: box-shadow .2s linear

        +small
          padding: 15px

        &:hover
          box-shadow: 0 50px 100px 0 rgba($clr_2,.15)

          .descr__item
            color: $clr_3

          .btn-icon
            background-color: $clr_0

            &__icon
              fill: $clr_3

        .descr
          display: flex
          align-items: center
          margin-right: 10px

          &__number
            margin-right: 24px
            font-weight: 700
            font-size: 40px
            line-height: 1.1
            color: $clr_3

            +small
              font-size: 25px

          &__item
            @include textReset
            max-width: 175px
            font-weight: 700
            line-height: 1.2
            transition: color .2s linear

        .btn-icon

          +small
            width: 40px
            height: 40px

          &:hover
            background-color: $clr_0
            border-color: $clr_3

            &__icon
              fill: $clr_3

    &__img
      max-width: 871px
      width: 100%
      min-height: 652px
      border-radius: 8px
      overflow: hidden
      background-image: url(../img/services/img-1.png)
      background-position: top
      background-size: cover
      background-repeat: no-repeat

      +small
        max-width: 100%
        min-height: 50vh
        background-size: cover
