.help-list
	&__list
		display: flex
		flex-direction: column
		gap: 60px
		+ph
			gap: 40px

	&__list-item-title
		margin-bottom: 20px
		font-size: 24px
		+ph
			font-size: 20px

	&__list-item-accordion
		display: flex
		flex-direction: column
		gap: 20px