// FONTS
$ff_1: 'Raleway', sans-serif
$ff_2: 'PlayfairDisplay', serif

// COLOR
$clr_0: transparent
$clr_1: #FFF
$clr_2: #39314C
$clr_3: #319995
$clr_4: transparent
$clr_5: transparent
$clr_6: transparent
$clr_7: transparent
$clr_8: transparent
$clr_9: transparent
$clr_er: #E01934

// SIZE
$size_1: 1210px
