.in-detail

	&__content-wrapper
		display: flex
		align-items: center
		justify-content: space-between

		+sm
			flex-direction: column
			align-items: flex-start

	&__content-left
		flex: 0 0 50%
		margin-right: 20px

		+sm
			flex: 0 0 100%
			margin-right: 0
			margin-bottom: 40px

		+ph
			margin-bottom: 30px

	&__content-right-wrapper
		position: relative
		max-width: 582px
		padding: 0px 20px

		+sm
			max-width: 100%
			padding: 0px 10px

		&::after
			content: ''
			position: absolute
			top: 50%
			left: 50%
			z-index: -1
			max-width: 582px
			width: 100%
			height: 93%
			border: 3px solid $clr_3
			transform: translate(-50%, -50%)

	&__content-right
		padding: 55px
		color: $clr_1
		background-color: $clr_2
		background-image: url(../img/price/bg-img.jpg)
		background-position: center
		background-size: cover
		background-repeat: no-repeat
		box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1), 0 14px 14px 0 rgba(0, 0, 0, 0.09), 0 31px 19px 0 rgba(0, 0, 0, 0.05), 0 56px 22px 0 rgba(0, 0, 0, 0.01), 0 87px 24px 0 rgba(0, 0, 0, 0)

		+md
			padding: 40px 30px

	&__list
		padding-left: 20px

	&__list-item
		list-style-image: url(../img/mark-list.svg)

		&:not(:last-child)
			margin-bottom: 20px
