// FONTS
$ff_1: 'Montserrat', sans-serif

// COLOR
$clr_0: transparent
$clr_1: #FFF
$clr_2: #29456a
$clr_3: #5387CD 
$clr_4: #E01934
$clr_5: #313e47
$clr_6: transparent
$clr_7: transparent
$clr_8: transparent
$clr_9: transparent

// SIZE
$size_1: 1370px
