.feedback
	&__container
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center

	&__content-wrap
		display: flex
		justify-content: center
		align-items: center
		padding: 40px
		max-width: 780px
		width: 100%
		min-height: 200px
		background-position: center
		background-repeat: no-repeat
		background-size: cover
		+ph
			padding: 20px

	&__form
		max-width: 533px
		width: 100%
