.services-info
	&__content-wrap
		display: flex
		flex-direction: column
		max-width: 100%
		width: 100%
		+ph
			align-items: center

	&__text-wrap
		display: flex
		justify-content: center
		align-items: center
		margin-bottom: 20px
		padding: 12px
		max-width: 100%
		width: 100%
		font-size: 16px
		line-height: 143%
		color: var(--bg-btn-color)
		text-align: center
		border: 1px solid #C6C6C6
		background-color: var(--white-color)

	&__list
		display: flex
		flex-direction: column
		gap: 30px
		+ph
			max-width: 400px

.services-info-item
	display: flex
	justify-content: space-between
	align-items: center
	gap: 15px
	line-height: 143%
	font-size: 14px
	+ph
		flex-direction: column
		align-items: flex-start

	&__content-left
		display: flex
		flex-direction: column
		max-width: 310px
		width: 100%
		+sm
			max-width: 200px
		+ph
			max-width: 100%

	&__title-wrap
		margin-bottom: 20px

	&__list
		padding-left: 20px
		list-style-type: disc

	&__content-right
		display: flex
		flex-direction: column
		padding: 24px 0
		max-width: 760px
		width: 100%
		border-bottom: 1px solid #C6C6C6
		+ph
			padding: 0
			padding-bottom: 24px