@font-face
	font-family: RooneySans
	font-display: swap
	src: url("../fonts/RooneySans-Black.woff2") format("woff2"), url("../fonts/RooneySans-Black.woff") format("woff")
	font-weight: 900
	font-style: normal

@font-face
	font-family: RooneySans
	font-display: swap
	src: url("../fonts/RooneySans-BlackItalic.woff2") format("woff2"), url("../fonts/RooneySans-BlackItalic.woff") format("woff")
	font-weight: 900
	font-style: italic

@font-face
	font-family: RooneySans
	font-display: swap
	src: url("../fonts/RooneySans-Heavy.woff2") format("woff2"), url("../fonts/RooneySans-Heavy.woff") format("woff")
	font-weight: 800
	font-style: normal

@font-face
	font-family: RooneySans
	font-display: swap
	src: url("../fonts/RooneySans-HeavyItalic.woff2") format("woff2"), url("../fonts/RooneySans-HeavyItalic.woff") format("woff")
	font-weight: 800
	font-style: italic

@font-face
	font-family: RooneySans
	font-display: swap
	src: url("../fonts/RooneySans-Bold.woff2") format("woff2"), url("../fonts/RooneySans-Bold.woff") format("woff")
	font-weight: 700
	font-style: normal

@font-face
	font-family: RooneySans
	font-display: swap
	src: url("../fonts/RooneySans-BoldItalic.woff2") format("woff2"), url("../fonts/RooneySans-BoldItalic.woff") format("woff")
	font-weight: 700
	font-style: italic

@font-face 
	font-family: RooneySans
	font-display: swap
	src: url("../fonts/RooneySans-Medium.woff2") format("woff2"), url("../fonts/RooneySans-Medium.woff") format("woff")
	font-weight: 500
	font-style: normal

@font-face 
	font-family: RooneySans
	font-display: swap
	src: url("../fonts/RooneySans-MediumItalic.woff2") format("woff2"), url("../fonts/RooneySans-MediumItalic.woff") format("woff")
	font-weight: 500
	font-style: italic

@font-face
	font-family: RooneySans
	font-display: swap
	src: url("../fonts/RooneySans-Regular.woff2") format("woff2"), url("../fonts/RooneySans-Regular.woff") format("woff")
	font-weight: 400
	font-style: normal

@font-face 
	font-family: RooneySans
	font-display: swap
	src: url("../fonts/RooneySans-RegularItalic.woff2") format("woff2"), url("../fonts/RooneySans-RegularItalic.woff") format("woff")
	font-weight: 400
	font-style: italic

@font-face
	font-family: RooneySans
	font-display: swap
	src: url("../fonts/RooneySans-Light.woff2") format("woff2"), url("../fonts/RooneySans-Light.woff") format("woff")
	font-weight: 300
	font-style: normal

@font-face 
	font-family: RooneySans
	font-display: swap
	src: url("../fonts/RooneySans-LightItalic.woff2") format("woff2"), url("../fonts/RooneySans-LightItalic.woff") format("woff")
	font-weight: 300
	font-style: italic

