:root
  // container
  --container-width: 411px
  --container-padding: 6px

  // typography
  --font-main: "RooneySans", sans-serif
  --font-weight-base: 800
  --font-line-height-base: 120%
  --font-size-base: 10px

  // colors
  --none-color: transparent
  --page-color: var(--bg-color)
  --text-color: #f5fdff
  --bg-color: #001716
  --bg-block: #2E3B55
  --white-color: #fff
  --primary-color: #007aee
  --blue-color: #0086f1
  --gold-color: #FFE028
