:root
	// container
	--container-width: 1037px
	--container-padding: 25px
	--container-padding-ph: 10px

	// typography
  --font-main: "RooneySans", sans-serif
  --font-weight-base: 700
  --font-line-height-base: 120%
  --font-size-base: 24px

	// colors
  --none-color: transparent
  --page-color: var(--bg-color)
  --text-color: #f5fdff
  --bg-color: #001716
  --bg-block: #202548
  --white-color: #fff
  --primary-color: #007aee
  --blue-color: #0086f1
