.panel-fissure
	position: relative
	padding: 56px 64px 70px

	&::before
		position: absolute
		top: 12px
		right: 0
		bottom: 12px
		left: 0
		background-color: $color__11
		border-right: 4px solid $color__8
		border-left: 4px solid $color__8
		content: ''

	> .shadow-left
		position: absolute
		top: 16px
		left: -4px
		bottom: 0
		width: 4px
		background-color: $color__14

		&::before
			position: absolute
			top: 4px
			left: -4px
			bottom: 4px
			width: 4px
			background-color: $color__14
			content: ''

		&::after
			position: absolute
			bottom: 0
			left: 4px
			width: 12px
			height: 12px
			background-color: $color__14
			content: ''

	> .shadow-bottom
		position: absolute
		right: 16px
		bottom: -4px
		left: 0
		height: 4px
		background-color: $color__14

		&::before
			position: absolute
			top: 4px
			right: 4px
			left: 4px
			height: 4px
			background-color: $color__14
			content: ''

	> .bd-top
		position: absolute
		top: 0
		right: 12px
		left: 12px
		height: 4px
		background-color: $color__8

		&::before,
		&::after
			position: absolute
			height: 4px
			border-right: 4px solid $color__8
			border-left: 4px solid $color__8
			content: ''

		&::before
			top: 4px
			right: -4px
			left: -4px
			background-color: $color__7

		&::after
			top: 8px
			right: -8px
			left: -8px
			background-color: $color__11

	> .bd-bottom
		position: absolute
		right: 12px
		bottom: 0
		left: 12px
		height: 12px
		background-color: $color__13
		border-top: 4px solid $color__12
		border-bottom: 4px solid $color__8

		.left,
		.right
			position: absolute
			bottom: 0
			width: 4px
			height: 12px
			background-color: $color__13
			border-top: 4px solid $color__12
			border-bottom: 4px solid $color__8

			&::before
				position: absolute
				bottom: 0
				width: 4px
				height: 4px
				background-color: $color__13
				border-top: 4px solid $color__12
				border-bottom: 4px solid $color__8
				content: ''

		.left
			left: -4px
			&::before
				left: -4px

		.right
			right: -4px
			&::before
				right: -4px

	> .fissure
		position: absolute
		top: 8px
		right: 4px
		bottom: 12px
		left: 4px
		background-image: url(/app/images/bg/panel-fissure-top.svg), url(/app/images/bg/panel-fissure-bottom.svg)
		background-repeat: no-repeat, no-repeat
		background-position: top left, bottom right

	> .content
		position: relative