@font-face 
	font-family: Stem
	font-display: swap
	src: url("../fonts/Stem-Medium.woff2") format("woff2"), url("../fonts/Stem-Medium.woff") format("woff")
	font-weight: 500
	font-style: normal

@font-face 
	font-family: Stem
	font-display: swap
	src: url("../fonts/Stem-SemiLight.woff2") format("woff2"), url("../fonts/Stem-SemiLight.woff") format("woff")
	font-weight: 350
	font-style: normal

