// FONTS
$ff_1: 'TenorSans', sans-serif, Arial

// COLOR
$clr_0: transparent
$clr_1: #FFF
$clr_2: #3E373A
$clr_3: #DDB59E
$clr_4: #FBF7F5
$clr_5: transparent
$clr_6: transparent
$clr_7: transparent
$clr_8: transparent
$clr_9: transparent

// SIZE
$size_1: 1490px
