.footer
	position: relative
	margin-top: auto

	&__content-wrapper
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		padding-bottom: 40px

	&__logo
		position: relative
		display: flex
		margin-bottom: 23px
		width: 296px
		
		+sm
			width: 200px

	&__copyright
		font-weight: 300
		font-size: 14px
		text-align: center
		text-transform: capitalize
		
		+ph
			font-size: 12px

	&__bg-img
		position: absolute
		left: 50%
		bottom: 0
		z-index: -1
		width: 100%
		height: 400px
		background-image: url(../img/footer/bg-img.png)
		transform: translateX(-50%)

		+ph
			height: 400px

.footer-menu
	margin-bottom: 26px

	&__list
		display: flex
		align-items: center
		gap: 42px
		font-weight: 500
		font-size: 20px

		+sm
			gap: 20px
			font-size: 18px

		+ph
			flex-direction: column
			font-size: 16px

	&__list-item

		&.active

			.footer-menu__list-item-link
				&::after
					background-color: $clr_3

				&:hover
					+hover
						&::after
							width: 30px

				&:focus:not(:active)
					&::after
						width: 30px

	&__list-item-link
		position: relative
		padding: 6px 0
		transition: color .2s linear, transform .2s linear

		&::after
			content: ''
			position: absolute
			bottom: 0
			left: 0
			width: 25px
			height: 3px
			background-color: $clr_0
			transition: background-color .2s linear, width .2s linear

		&:hover
			+hover
				color: $clr_6

		&:focus:not(:active)
			&::after
				background-color: $clr_3

		&:active
			transform: scale(.94)

.footer-links
	display: flex
	gap: 26px
	margin-bottom: 160px
	
	+sm
		margin-bottom: 80px

	+ph
		margin-bottom: 40px

	&__item-link
		display: flex
		align-items: center
		justify-content: center
		width: 24px
		height: 24px
		border: 1px solid $clr_0
		transition: border-color .2s linear, transform .2s linear

		&:hover
			+hover
				.footer-links__item-link-icon
					fill: $clr_1

		&:focus:not(:active)
			border-color: $clr_1

		&:active
			transform: scale(.94)

	&__item-link-icon
		width: 24px
		height: 24px
		fill: $clr_3
		transition: fill .2s linear