.form-mod
  display: flex
  flex-direction: column
  color: $clr_1

  .form-list
    margin-bottom: 15px

    &__item-label
      margin-bottom: 10px
      font-size: 14px

  &__agreement
    margin-bottom: 10px
