.modal
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100vh
  z-index: 99999
  display: grid
  align-items: center
  justify-content: center
  overflow-y: auto
  visibility: hidden
  opacity: 0
  color: $clr_1
  background-color: rgba($clr_4, .8)
  transition: opacity .4s, visibility .4s

  &.open
    visibility: visible
    opacity: 1

  &.open .modal-box
    transform: scale(1)

.modal-box
  position: relative
  display: flex
  flex-direction: column
  z-index: 1
  padding: 60px 40px 40px 40px
  margin: 30px 15px
  max-width: 500px
  border-radius: 10px
  background-color: $clr_1
  overflow: hidden
  background-color: $clr_2
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1), 0 14px 14px 0 rgba(0, 0, 0, 0.09), 0 31px 19px 0 rgba(0, 0, 0, 0.05), 0 56px 22px 0 rgba(0, 0, 0, 0.01), 0 87px 24px 0 rgba(0, 0, 0, 0)
  transform: scale(0)
  transition: transform .8s

  +sm
    padding: 60px 40px 40px 40px

  +ph
    padding: 60px 20px 20px 20px

.modal-close
  position: absolute
  z-index: 3
  display: block
  top: 10px
  right: 10px
  width: 40px
  height: 40px
  cursor: pointer
  border-radius: 2px
  background-color: $clr_3
  border: 2px solid $clr_3
  transition: background-color .2s linear, border-color .2s linear

  +ph
    width: 40px
    height: 40px

  &:hover
    +hover
      background-color: $clr_1
      border-color: $clr_1

  &:hover:before, &:hover:after
    +hover
      background-color: $clr_2

  &:before, &:after
    content: ""
    position: absolute
    width: 20px
    height: 2px
    background-color: $clr_1
    top: 47%
    left: 50%
    transition: background-color .2s linear

  &:before
    transform: translateX(-50%) rotate(45deg)

  &:after
    transform: translateX(-50%) rotate(-45deg)

.modal-title
  margin-bottom: 30px
  font-family: $ff_2
  font-weight: 700
  font-size: 28px
  text-transform: uppercase

  +sm
    font-size: 25px

  +ph
    margin-bottom: 20px
    font-size: 20px

  +xs
    font-size: 18px
