@font-face 
    font-family: 'Pixeloid'
    src: url('../fonts/PixeloidSans.ttf') format('truetype')
    font-weight: 400
    font-style: normal
    font-stretch: normal

@font-face 
    font-family: 'Pixeloid'
    src: url('../fonts/PixeloidSans-Bold.ttf') format('truetype')
    font-weight: 700
    font-style: normal
    font-stretch: normal