.contacts

	&__container
		position: relative
		max-width: 1920px
		width: 100%
		margin: 0 auto

	&__content-wrapper
		display: flex
		color: $clr_1
		background-color: $clr_2
		background-image: url(../img/common/pattern-invert.svg)

		+ph
			flex-direction: column

	&__map-wrapper
		display: flex
		margin-bottom: -.5px
		max-width: 50%
		width: 100%

		+ph
			max-width: 100%

		iframe
			width: 100%
			height: 100%

			+ph
				height: 400px

	&__content
		padding: 60px
		max-width: 50%
		width: 100%

		+sm
			padding: 40px

		+ph
			padding: 30px 10px
			max-width: 100%

	&__title
		max-width: 335px

	// &__form-text
		// margin-bottom: 16px
		// max-width: 335px
		// line-height: 130%
		// letter-spacing: .02em


	&__list-item
		&:not(:last-child)
			margin-bottom: 20px

	&__list-item-title
		margin-bottom: 10px
		font-family: $ff_1
		color: $clr_1

	.social-list

		&__item
			&:not(:last-child)
				margin-right: 12px
