.care
	background-image: url(../img/care/bg-img.jpg)
	background-color: $clr_2
	background-repeat: no-repeat
	background-size: cover
	background-position: center

	&__text-wrapper
		display: flex
		align-items: center
		justify-content: center
		padding: 107px 0

		+sm
			padding: 80px 0

		+ph
			padding: 40px 0

	&__text
		max-width: 1081px
		font-family: $ff_2
		font-weight: 300
		font-size: 130px
		line-height: 90%
		letter-spacing: .02em
		color: $clr_1
		text-align: center

		+md
			max-width: 900px
			font-size: 110px

		+sm
			max-width: 700px
			font-size: 90px

		+ph
			max-width: 600px
			font-size: 70px