.form-success
	display: flex
	flex-direction: column
	align-items: center
	text-align: center
	color: $clr_2

	+sm
		width: 100%
		

	&__box
		&.modal-box
			+ph
				padding: 30px

	.form-success__descr
		margin-bottom: 40px
		font-family: $ff_2
		font-weight: 600
		font-size: 50px
		color: $clr_1

		+ph
			margin-bottom: 10px
			font-size: 30px

	.form-success__descr.last
		margin: 0
		font-family: $ff_1
		font-weight: 400
		font-size: 20px
		color: $clr_3
		text-transform: uppercase

		+ph
			font-size: 18px
