:root
	// section
	--section-spacing-bt: 120px
	--section-spacing-bt-ph: 80px

	// container
	--container-width: 1440px
	--container-padding: 25px
	--container-padding-ph: 10px

	// blocks
	--border-radius: 20px
	--border-radius-ph: 20px
	
	// typography
	--font-main: 'Raleway', sans-serif
	--font-weight-base: 400
	--font-line-height-base: 120%
	--font-size-base: 16px

	// colors
	--none-color: transparent
	--page-color: var(--bg-color)
	--text-color: #151515
	--bg-color: #f9f9f9
	--bg-link: #f6f6f6
	--white-color: #fff
	--primary-color: #2f2483
	--grey-color: #919191
	--btn-color: #f9fafb

	--btn-hover-color: var(--white-color-op)
	--btn-active-color: rgba(255, 255, 255, 0.1)
	// --bg-color: #453d36
	--error-color: #E01934
	--success-color: #90ee90
	--green-color: #278B2F
	--green-hover-color: #237a2a
	--green-active-color: #1b5e20
	--hover-color: #d7d4c9
	--active-color: rgba(246, 139, 120, .5)
