:root
	// section
	--section-spacing-bt: 120px
	--section-spacing-bt-ph: 80px

	// container
	--container-width: 1440px
	--container-padding: 25px
	--container-padding-ph: 10px

	// blocks
	--border-radius: 20px
	--border-radius-ph: 20px
	
	// typography
	--font-main: 'Raleway', sans-serif
	--font-weight-base: 500
	--font-line-height-base: 120%
	--font-size-base: 16px

	// colors
	--none-color: transparent
	--page-color: var(--bg-color)
	--text-color: #151515
	--dark-color: #000
	--bg-color: #f9f9f9
	--bg-second-color: #f9f9f9
	--bg-link: #f6f6f6
	--white-color: #fff
	--primary-color: #2f2483
	--grey-color: #919191
	--btn-color: #f9fafb
	--purple-color: #8a38f5
	--purple-light-color: #8a38f5
	--green-color: #12a26f
	--azure-color: #00c7f0
	--error-color: #E01934
	--success-color: #90ee90
