// FONTS
$ff_1: 'Jost', sans-serif
$ff_2: 'Oswald', sans-serif

// COLOR
$clr_0: transparent
$clr_1: #FFF
$clr_2: #01161D
$clr_3: #EFC311 
$clr_4: #004358
$clr_5: #FFD83C
$clr_6: transparent
$clr_7: transparent
$clr_8: transparent
$clr_9: transparent

// SIZE
$size_1: 1416px
