.about
	&__container
		display: flex
		align-items: center
		justify-content: space-between
		gap: 20px
		+sm
			align-items: flex-start
		+ph
			flex-direction: column

	&__img-wrap
		display: flex
		max-width: 556px
		width: 100%
		min-height: 757px
		+ph
			max-width: 300px
			min-height: auto

	&__img
		width: 100%
		height: 100%

	&__text-wrap
		max-width: 466px
		width: 100%
