.retta
	&__container
		display: flex
		justify-content: center

	&__content-wrap
		padding: 80px
		max-width: 763px
		width: 100%
		border-radius: 25px
		background-color: var(--block-color)
		+sm
			padding: 40px
		+ph
			padding: 10px
			border-radius: 20px
