@font-face 
	font-family: Involve
	font-display: swap
	src: url("../fonts/Involve-Bold.woff2") format("woff2"), url("../fonts/Involve-Bold.woff") format("woff")
	font-weight: 700
	font-style: normal

@font-face 
	font-family: Involve
	font-display: swap
	src: url("../fonts/Involve-SemiBold.woff2") format("woff2"), url("../fonts/Involve-SemiBold.woff") format("woff")
	font-weight: 600
	font-style: normal

@font-face 
	font-family: Involve
	font-display: swap
	src: url("../fonts/Involve-Medium.woff2") format("woff2"), url("../fonts/Involve-Medium.woff") format("woff")
	font-weight: 500
	font-style: normal

@font-face 
	font-family: Involve
	font-display: swap
	src: url("../fonts/Involve-MediumOblique.woff2") format("woff2"), url("../fonts/Involve-MediumOblique.woff") format("woff")
	font-weight: 500
	font-style: italic

@font-face 
	font-family: Involve
	font-display: swap
	src: url("../fonts/Involve-Regular.woff2") format("woff2"), url("../fonts/Involve-Regular.woff") format("woff")
	font-weight: 400
	font-style: normal

@font-face 
	font-family: Involve
	font-display: swap
	src: url("../fonts/Involve-Oblique.woff2") format("woff2"), url("../fonts/Involve-Oblique.woff") format("woff")
	font-weight: 400
	font-style: italic

@font-face 
	font-family: ZTNeueRalewe
	font-display: swap
	src: url("../fonts/ZTNeueRalewe-Bold.woff2") format("woff2"), url("../fonts/ZTNeueRalewe-Bold.woff") format("woff")
	font-weight: 700
	font-style: normal

@font-face 
	font-family: ZTNeueRalewe
	font-display: swap
	src: url("../fonts/ZTNeueRalewe-BoldItalic.woff2") format("woff2"), url("../fonts/ZTNeueRalewe-BoldItalic.woff") format("woff")
	font-weight: 700
	font-style: italic

@font-face 
	font-family: ZTNeueRalewe
	font-display: swap
	src: url("../fonts/ZTNeueRalewe-Medium.woff2") format("woff2"), url("../fonts/ZTNeueRalewe-Medium.woff") format("woff")
	font-weight: 500
	font-style: normal

@font-face 
	font-family: ZTNeueRalewe
	font-display: swap
	src: url("../fonts/ZTNeueRalewe-MediumItalic.woff2") format("woff2"), url("../fonts/ZTNeueRalewe-MediumItalic.woff") format("woff")
	font-weight: 500
	font-style: italic

@font-face 
	font-family: ZTNeueRalewe
	font-display: swap
	src: url("../fonts/ZTNeueRalewe-Regular.woff2") format("woff2"), url("../fonts/ZTNeueRalewe-Regular.woff") format("woff")
	font-weight: 400
	font-style: normal

@font-face 
	font-family: ZTNeueRalewe
	font-display: swap
	src: url("../fonts/ZTNeueRalewe-Italic.woff2") format("woff2"), url("../fonts/ZTNeueRalewe-Italic.woff") format("woff")
	font-weight: 400
	font-style: italic
