// ОСНОВНЫЕ СТИЛИ
html
  &.pre-hidden
    padding-right: 8px
    overflow-y: hidden !important

    +lr
      padding-right: 0

  &.galleryActive
    overflow-y: hidden !important
    padding-right: 8px
    +lr
      padding-right: 0

html.mod-open
  padding-right: 8px
  overflow-y: hidden !important

  +lr
    padding-right: 0

  .header_active
    left: -8px

    +lr
      left: 0

  .scroll-top
    right: 38px

    +ph
      right: 28px

body
  font-family: $ff_1
  font-weight: 400
  line-height: 150%
  font-size: 16px
  color: $clr_2
  background-color: $clr_1

  &.overflow
    overflow-x: visible

  &::-webkit-scrollbar
    width: 8px
    background-color: $clr_1

  &::-webkit-scrollbar-thumb
    background-color: $clr_2

html.menu-open,
body.menu-open
  +sm
    overflow: hidden

*::selection
  background-color: rgba($clr_2, .8)
  color: $clr_1

.section-reset
  position: relative
  margin-bottom: 200px
  +sm
    margin-bottom: 140px
  +ph
    margin-bottom: 80px

.main-section
  margin-top: 88px
  +sm
    margin-top: 65px
  +ph
    margin-top: 56px

.container
  position: relative
  z-index: 1
  margin: 0 auto
  padding-left: 25px
  padding-right: 25px
  max-width: $size_1
  width: 100%
  +ph
    padding-left: 10px
    padding-right: 10px

.bg-img
  position: relative
  background-attachment: fixed
  background-color: $clr_2
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  +ph
    background-attachment: inherit
  &::after
    content: ''
    position: absolute
    z-index: 0
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba($clr_2, .6)

.logo
  display: flex
  font-size: 0
  flex-shrink: 0
  transition: opacity .2s linear
  &_ph
    display: none
    +ph
      display: flex

  &:hover
    +hover
      opacity: .7

  &__img
    width: 100%
    height: 100%
    font-size: 0

// СТИЛИ ДДЯ СЛАЙДЕРА
.swiper-wrapper
  box-sizing: border-box

.swiper-slide
  position: relative
  display: flex
  font-size: 0
  background-color: $clr_3
  user-select: none
  box-sizing: border-box
  &:hover
    +hover
      .swiper-img
        transform: scale(1.1)

      &::after
        transform: translateX(0)
        opacity: 1

  &::after
    content: ''
    position: absolute
    top: 0
    left: 0
    z-index: 1
    width: 100%
    height: 100%
    background-color: rgba($clr_2, .3)
    opacity: 0
    transform: translateX(-30px)
    transition: transform .2s linear, opacity .2s linear

.swiper-img
  display: flex
  width: 100%
  height: 100%
  object-fit: cover
  font-size: 0
  transition: transform .2s linear

.swiper-button-lock
  display: none !important

.swiper-navigation
  position: absolute
  z-index: 100
  display: flex
  gap: 16px

.swiper-btn
  display: flex
  align-items: center
  justify-content: center
  width: 104px
  height: 104px
  border-radius: 100%
  border: 1px solid $clr_2
  background-color: $clr_0
  transition: opacity .2s linear, transform .2s linear
  +sm
    width: 80px
    height: 80px

  &:hover
    +hover
      opacity: .6

  &:focus-visible:not(:active),
  &:focus:not(:active)
    opacity: .6

  &:active
    transform: scale(.96)

  &_prev
    .swiper-btn__icon
      transform: rotateY(-180deg)
  &_next
    right: 0

  &_lock
    display: none

  &_disable
    display: none

  &__icon
    height: 40px
    fill: $clr_2

// СТИЛИ ДЛЯ КНОПОК И ССЫЛОК
.link
  display: flex
  align-items: center
  justify-content: center
  padding: 16px 32px
  max-width: 141px
  min-height: 48px
  font-weight: 400
  line-height: 100%
  font-size: 16px
  color: $clr_1
  text-align: center
  border: 1px solid $clr_3
  background-color: $clr_3
  transition: opacity .2s linear, transform .2s linear
  +ph
    padding: 10px
    font-size: 14px
    min-height: 40px

  &:hover
    +hover
      opacity: .6

  &:focus-visible:not(:active),
  &:focus:not(:active)
    opacity: .6

  &:active
    transform: scale(.98)

.link-text
  display: flex
  align-items: center
  gap: 8px
  max-width: max-content
  line-height: 100%
  color: $clr_1
  transition: color .2s linear, transform .2s linear, background-color .2s linear
  &_ph
    +ph
      display: none

  &:hover
    +hover
      color: $clr_3
      .link-text__icon
        fill: $clr_3

  &:focus-visible:not(:active),
  &:focus:not(:active)
    background-color: rgba($clr_3, .4)

  &:active
    transform: scale(.98)

  &__icon
    width: 24px
    height: 24px
    fill: $clr_1
    transition: fill .2s linear

  &__descr
    &_ph
      +ph
        display: none

.link-back
  display: flex
  align-items: center
  gap: 10px
  margin-bottom: 40px
  padding-top: 40px
  max-width: max-content
  font-weight: 700
  transition: color .2s linear, transform .2s linear

  +ph
    gap: 8px
    padding-top: 20px

  &:hover
    +hover
      color: $clr_3

  &:focus-visible:not(:active),
  &:focus:not(:active)
    color: $clr_3

  &:active
    transform: scale(.98)

  &__icon
    width: 20px
    height: 20px
    fill: $clr_3
    transform: rotate(180deg)
    transition: fill .2s linear, transform .2s linear

.btn
  display: flex
  align-items: center
  justify-content: center
  padding: 14px 30px
  max-width: 196px
  min-height: 48px
  line-height: 100%
  font-size: 16px
  text-align: center
  border: 1px solid $clr_2
  background-color: $clr_0
  transition: opacity .2s linear, transform .2s linear

  +ph
    padding: 8px 10px

  &:hover
    +hover
      opacity: .6

  &:focus-visible:not(:active),
  &:focus:not(:active)
    opacity: .6

  &:active
    transform: scale(.98)

// СТИЛИ ДЛЯ ЗАГОЛОВКОВ И ТЕКСТА
.h-1
  font-family: $ff_2
  font-style: italic
  font-weight: 500
  line-height: 110%
  font-size: 84px
  +md
    font-size: 60px
  +sm
    font-size: 50px
  +ph
    font-size: 38px

.h-2
  font-family: $ff_2
  font-style: italic
  margin-bottom: 40px
  font-weight: 400
  line-height: 110%
  font-size: 64px
  +sm
    font-size: 50px
  +ph
    margin-bottom: 30px
    font-size: 40px

.h-3
  font-family: $ff_2
  margin-bottom: 16px
  font-weight: 500
  line-height: 110%
  font-size: 32px
  +ph
    font-size: 28px

.text-hidden
  position: absolute
  clip: rect(0,0,0,0)
  margin: -1px
  padding: 0
  border: 0
  width: 1px
  height: 1px
  overflow: hidden

// СТИЛИ ДЛЯ ВНУТРЕННИХ СТРАНИЦ
.text-default
  h1
    margin-bottom: 20px
    font-family: $ff_2
    font-style: italic
    font-weight: 500
    line-height: 110%
    font-size: 84px
    +md
      font-size: 60px
    +sm
      font-size: 50px
    +ph
      font-size: 40px

  h2
    font-family: $ff_2
    font-style: italic
    margin-bottom: 40px
    font-weight: 400
    line-height: 110%
    font-size: 64px
    +sm
      font-size: 50px
    +ph
      margin-bottom: 30px
      font-size: 40px

  h3
    margin-bottom: 16px
    font-family: $ff_2
    margin-bottom: 16px
    font-weight: 500
    line-height: 110%
    font-size: 32px
    +ph
      font-size: 28px

  p

    &:not(:last-child)
      margin-bottom: 15px

  a
    font-weight: 600
    color: $clr_3
    border-bottom: 2px solid $clr_3
    transition: border-color .2s linear

    &:hover
      +hover
        border-color: $clr_0

  img
    +ph
      margin: 0!important
      margin-bottom: 15px!important
      width: 100%

  ul
    margin-bottom: 20px
    padding-left: 35px
    list-style: square
    +ph
      padding-left: 20px

    li
      &:not(:last-child)
        margin-bottom: 10px

  ol
    margin-bottom: 20px
    padding-left: 35px

    +ph
      padding-left: 20px

    li
      &::marker
        font-weight: 500
      &:not(:last-child)
        margin-bottom: 10px

  blockquote
    margin: 0
    margin-bottom: 20px
    padding: 20px 10px 20px 20px
    border-radius: 8px
    background-color: $clr_4

    ul
      margin-bottom: 0

    p
      @include textReset

  table
    margin-bottom: 30px
    max-width: 100%
    width: 100%
    border-collapse: collapse
    border-radius: 8px
    overflow: hidden
    table-layout: fixed
    +ph
      display: block
      max-width: 100%
      font-size: 14px
      width: fit-content
      overflow-x: auto

    p
      @include textReset

    tr
      background-color: $clr_1
      color: $clr_2
      
      &:nth-child(1)
        font-weight: 600
        font-size: 18px
        color: $clr_3
        background-color: $clr_1
        text-align: center
        +ph
          font-size: 16px

        td
          border: none

      &:nth-child(2n)
        color: $clr_1
        background-color: rgba($clr_3, .8)

    th, td
      padding: 14px
      text-align: center

// НАВЕРХ СТРАНИЦЫ
.scroll-top
  position: fixed
  z-index: 30
  right: 30px
  bottom: 50px
  display: flex
  align-items: center
  justify-content: center
  width: 45px
  height: 45px
  border: 1px solid $clr_2
  background-color: $clr_2
  opacity: 0
  transform: translateY(200px)
  transition: background-color .2s linear, transform .2s linear, opacity .2s linear, border-color .2s linear
  +ph
    right: 10px
    bottom: 20px

  &_active
    opacity: 1
    transform: translateY(0px)

  &:hover
    +hover
      background-color: $clr_1

      .scroll-top__icon
        fill: $clr_2

  &:focus-visible:not(:active),
  &:focus:not(:active)
    background-color: $clr_1
    .scroll-top__icon
      fill: $clr_2

  &:active
    transform: scale(.94)

  &__icon
    display: inline-flex
    width: 16px
    height: 16px
    fill: $clr_1
    transform: rotate(-90deg)
    transition: fill .2s linear, transform .2s linear

// PRELOADER
.preloader
  position: fixed
  top: 0
  left: 0
  display: flex
  align-items: center
  justify-content: center
  z-index: 100000
  width: 100%
  height: 100%
  opacity: 1
  background-color: $clr_1
  transition: opacity .3s linear

  &__wrapper
    width: 40px
    height: 40px
    opacity: 0.75
    animation: clockwise 500ms linear infinite

  &.hidden
    animation: fadeOut 1s
    animation-fill-mode: forwards

  &__item-wrapper
    position: absolute
    top: 0
    left: 0
    width: 20px
    height: 40px
    overflow: hidden

  &__item
    position: absolute
    top: 0
    left: 0
    box-sizing: border-box
    width: 40px
    height: 40px
    border: 4px solid $clr_2
    border-radius: 50%
    border-left-color: transparent
    border-bottom-color: transparent
    animation: donut-rotate 1000ms cubic-bezier(.4,0,.22,1) infinite

// АНИМАЦИЯ
@keyframes clockwise
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)

@keyframes donut-rotate
  0%
    transform: rotate(0)
  
  50%
    transform: rotate(-140deg)
    
  100%
    transform: rotate(0)

@keyframes fadeOut
  100%
    opacity: 0
    visibility: hidden

@keyframes opacity
  0%
    opacity: 0

  100%
    opacity: 1
