// FONTS
$ff_1: 'Involve', sans-serif
$ff_2: 'ZTNeueRalewe', sans-serif

// COLOR
$clr_0: transparent
$clr_1: #eeeeef
$clr_2: #202020
$clr_3: #40614C
$clr_4: transparent
$clr_5: transparent
$clr_6: transparent
$clr_7: transparent
$clr_8: transparent
$clr_9: transparent
$clr_er: #ff4040

// SIZE
$size_1: 1474px
