// FONTS
$ff_1: 'Mulish', sans-serif

// COLOR
$clr_0: transparent
$clr_1: #FFF
$clr_2: #263640
$clr_3: #F5F5F5
$clr_4: #3AAA35
$clr_5: transparent
$clr_6: transparent
$clr_7: transparent
$clr_8: transparent
$clr_9: transparent
$clr_er: #E01934

// SIZE
$size_1: 1426px
