.contacts
  &__map-wrapper
    position: relative
    max-width: 100%
    width: 100%
    height: 550px
    overflow: hidden
    +sm
      max-width: 60%
    +ph
      height: 350px
			
  &__map-link
    position: absolute
    top: 0px
    color: #eee
    font-size: 12px

    &_two
      top: 14px

    &_three
      top: 28px

  &__map
    position: relative
    width: 100%
    height: 100%
    border: none
