.breadcrumbs

    .content
        padding: 0 0 24px

    .list
        display: flex
        flex-wrap: wrap

    .item
        font-weight: 700
        font-size: 14px
        color: rgba(1, 1, 1, 0.4)

        a
            // color: $color__1
            font-weight: 400
            transition: all 0.3s
            &:hover
                color: $color__2

    .link
        

    +medium
        .item
            font-size: 12px

    +small
        //display: none