.memo-inner
	.tabs-list
		gap: 0
		margin-bottom: 30px
		max-width: max-content
		border-radius: 20px
		box-shadow: 0 10px 25px 0 rgba(43, 63, 90, 0.07)

		&__item-btn
			padding: 10px 20px
			font-weight: 700
			line-height: 100%
			font-size: 20px
			background-color: var(--none-color)
			transition: color .2s linear
			+ph
				font-size: 18px
			+hover
				color: var(--accent-color)
				background-color: var(--none-color)
			+focus
				color: var(--accent-color)
				background-color: var(--none-color)
			&:active
				color: var(--active-color)
				background-color: var(--none-color)

			&.active
				color: var(--accent-color)
