.form-mod
  display: flex
  flex-direction: column
  color: $clr_2

  .input-list
    margin-bottom: 20px

    &__item
      display: flex
      
      &:not(:last-child)
        margin-bottom: 20px

  &__label
    margin-bottom: 10px
