.hero

  .hero-slider
    position: relative
    display: flex
    width: 100%
    height: 100%

  .slider-navigation
    position: absolute
    z-index: 10
    bottom: 160px
    left: 50%
    display: flex
    align-items: center
    padding: 0px 25px
    max-width: $size_1
    width: 100%
    transform: translateX(-50%)

    +lr
      bottom: 100px

    +sm
      bottom: 50%
      justify-content: flex-end

    +ph
      bottom: 65%
      padding: 0px 10px

  &__wrapper
    max-width: 200px
    width: 100%

  .hero-slide
    position: relative
    display: flex
    width: 100%
    height: 100%
    box-sizing: border-box

    +sm
      flex-direction: column

    &::after
      content: ''
      position: absolute
      top: 0
      left: 0
      z-index: 0
      width: 100%
      height: 100%
      background: linear-gradient(35deg, #263640 23.88%, rgba(38, 54, 64, 0) 76.42%)
      opacity: .7

      +sm
        display: none
    
    &__img
      position: absolute
      width: 100%
      height: 100%
      object-fit: cover
      object-position: right

      +sm
        position: relative
        margin-bottom: 40px

      +ph
        margin-bottom: 20px
        min-height: 168px

    &__content-wrapper
      z-index: 1
      display: flex
      max-width: $size_1
      width: 100%
      height: 100%
      margin: 0 auto
      padding: 161px 25px 212px 25px

      +lr
        padding: 100px 25px

      +sm
        padding: 0 20px

      +ph
        display: flex
        flex-direction: column
        align-items: center
        padding: 0 10px

    &__content
      position: relative
      margin-top: auto
      max-width: 866px
      width: 100%
      min-height: 314px
      color: $clr_1

      +sm
        min-height: 176px
        color: $clr_2

      +ph
        max-width: 100%
    
    &__content-title
      margin-bottom: 20px
      font-size: 78px
      color: $clr_1

      +lr
        font-size: 40px

      +sm
        font-size: 35px
        color: $clr_2

      +ph
        margin-bottom: 15px
        font-size: 28px

    &__content-text
      margin-bottom: 40px
      font-size: 16px
      opacity: .8

      +ph
        margin-bottom: 20px
