.page-menu
	margin-bottom: 20px
	&__list
		display: flex

	&__list-link
		display: flex
		align-items: center
		justify-content: center
		padding: 16px 20px
		border-bottom: 2px solid rgba($clr_3, .1)
		transition: border-color .2s linear

		&:hover
			+hover
				border-color: $clr_4

		&_active
			border-color: $clr_4