.home-support
	.info-block
		&::after
			height: 99%
			background-color: var(--bg-third-color)
		
		&__wrap
			padding: 32px 42px 0 42px
			border: 8px solid var(--none-color)
			border-image-slice: 8
			border-image-repeat: stretch
			border-image-source: url(../img/home/support/border.svg)
			+ph
				gap: 20px
				padding: 20px 5px

		&__text-wrap
			margin-bottom: 44px