.accordion-list
	display: flex
	flex-direction: column
	gap: 40px
	+ph
		gap: 24px

.accordion
	position: relative
	display: flex
	flex-direction: column
	margin-bottom: -12px

	&__btn
		position: relative
		display: flex
		align-items: center
		border-radius: 20px
		padding: 12px 40px
		font-weight: 500
		font-size: 20px
		line-height: 100%
		min-height: 69px
		box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.06)
		background-color: var(--white-color)
		transition: box-shadow 0.2s linear, color 0.2s linear, transform 0.2s linear
		+hover
			box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1)
		+focus
			box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1)
		&:active
			box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2)
		+ph
			min-height: 40px
			font-size: 18px

		&.active
			.accordion__btn-icon
				transform: rotateX(180deg)

	&__btn-text
		margin-right: 20px
		text-align: left
		transition: opacity 0.2s linear

	&__btn-wrapper-icon
		display: flex
		align-items: center
		justify-content: center
		flex-shrink: 0
		margin-left: auto
		width: 40px
		height: 40px

	&__btn-icon
		width: 24px
		transition: transform 0.2s linear

	&__content
		background-color: var(--white-color)
		margin-top: 12px
		border-radius: 20px
		box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.06)

	&__text
		padding: 24px 40px
		overflow-x: hidden

		p:not(:last-child)
			margin-bottom: 20px

		ul
			list-style-type: disc
			
		ul,
		ol
			display: flex
			flex-direction: column
			padding-left: 1.1rem

	&__btn-content
		margin-top: 24px
		max-width: 247px
		font-size: 24px

.accordion-hidden
	max-height: 0
	overflow: hidden
	transition: max-height 0.3s linear