.cards-list
	display: grid
	grid-template-columns: repeat(3, 1fr)
	grid-auto-rows: minmax(594px, max-content)
	gap: 64px 24px
	+sm
		grid-template-columns: repeat(2, 1fr)
		gap: 24px
	+ph
		grid-template-columns: 1fr
		gap: 12px

	&_2col
		grid-template-columns: repeat(2, 1fr)
		+ph
			grid-template-columns: 1fr

.card
	position: relative
	display: flex
	flex-direction: column
	border-radius: 20px
	width: 100%
	height: 100%
	background-color: var(--white-color)

	&__link
		position: absolute
		z-index: 1
		top: 0
		left: 0
		border-radius: 20px
		width: 100%
		height: 100%
		box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.06)
		transition: box-shadow .2s linear
		+hover
			box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2)
		+focus
			box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2)
		&:active
			box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3)

	&__link-icon
		position: absolute
		z-index: 2
		top: 16px
		right: 16px

	&__img-wrap
		position: relative
		z-index: 0
		border-radius: 20px
		background-color: var(--bg-second-color)
		max-height: 329px
		min-height: 329px
		height: 100%
		overflow: hidden

	&__img
		width: 100%
		height: 100%
		object-fit: cover

	&__tags
		position: absolute
		z-index: 1
		left: 0
		display: flex
		align-items: center
		padding: 0 16px
		width: 100%
		min-height: 40px
		+ph
			padding: 0 12px
		&_top
			top: 16px
			+ph
				top: 12px
		&_bottom
			bottom: 16px
			+ph
				bottom: 12px

	&__content
		display: flex
		flex-direction: column
		gap: 12px
		padding: 24px 18px
		height: 100%
		+ph
			padding: 18px 12px

	&__title
		margin-bottom: 16px

	&__info
		display: flex
		align-items: center
		justify-content: space-between
		flex-wrap: wrap
		gap: 12px
		margin-top: auto

	&__info-text-wrap
		display: flex
		flex-direction: column
		gap: 8px

	&__info-text
		font-weight: 600
		font-size: 24px
		&_sm
			font-weight: 400
			font-size: 16px
			color: var(--grey-color)

	&__info-link
		max-width: 185px
		width: 100%
		+ph
			max-width: 100%

.card-tag
	display: flex
	align-items: center
	justify-content: center
	gap: 10px
	border-radius: 200px
	padding: 10px 18px
	max-width: 260px
	min-height: 40px
	text-align: center
	background-color: var(--white-color)
	+ph
		padding: 4px 18px
		max-width: 230px
		min-height: 32px
		font-size: 14px
	&_green
		color: var(--white-color)
		background-color: var(--green-color)
	&_blue
		color: var(--white-color)
		background-color: var(--primary-color)
	&_purple
		color: var(--white-color)
		background-color: var(--purple-color)
	&_azure
		color: var(--white-color)
		background-color: var(--azure-color)

	&__icon
		flex-shrink: 0
		width: 22px
		height: 22px
