.dropdown
	position: relative
	&__btn
		display: flex
		align-items: center
		justify-content: center
		gap: 12px
		color: var(--text-color)
		text-align: center
		transition: color .2s linear
		+hover
			color: var(--grey-color)
		+focus
			color: var(--grey-color)
	
		&.active
			.dropdown__btn-icon_arrow
				transform: rotateX(180deg)
		
		&_no-anim
			+hover
				color: var(--text-color)
			+focus
				color: var(--text-color)

	&__btn-icon
		width: 20px
		height: 20px
		transition: transform .2s linear

	&__list-wrap
		position: absolute
		top: calc(100% + 10px)
		left: 50%
		z-index: 10
		display: none
		width: 342px
		transform: translateX(-50%)
		+ph
			display: none
			left: -20px
			width: 300px
			opacity: 1
			visibility: visible
			transform: none
		&.active
			display: flex
			+ph
				display: flex

		.dropdown__list
			position: static
			display: flex
			width: 100%

	&__list
		position: absolute
		top: calc(100% + 10px)
		left: 0
		z-index: 10
		display: none
		flex-direction: column
		gap: 16px
		border-radius: 12px
		padding: 16px
		width: 342px
		height: max-content
		box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.12)
		background-color: var(--white-color)
		&_row
			flex-direction: row
			flex-wrap: wrap
			gap: 24px 16px
		+ph
			width: 300px
		&.active
			display: flex
