.catalog-filter-wrap
	display: flex
	border-radius: 20px
	margin-left: auto
	padding: 20px 40px
	max-width: max-content
	width: 100%
	min-height: 74px
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.06)
	background: var(--white-color)
	+sm
		margin: 0
		max-width: 100%
	+ph
		padding: 20px

.catalog-filter
	display: flex
	align-items: center
	justify-content: center
	width: 100%
	gap: 12px
	+ph
		flex-direction: column
		justify-content: center
		align-items: flex-start
		gap: 24px