.footer
	background-color: var(--white-color)

	&__container
		display: flex
		justify-content: space-between
		gap: 24px
		padding-top: 64px
		padding-bottom: 75px
		+sm
			padding-top: 40px
			padding-bottom: 40px
		+ph
			flex-direction: column
			padding-top: 24px
			padding-bottom: 24px

	&__content-wrap
		display: flex
		justify-content: space-between
		gap: 24px
		max-width: 1141px
		width: 100%
		+ph
			flex-direction: column
			gap: 12px

.footer-right
	display: flex
	flex-direction: column
	justify-content: space-between
	gap: 24px
	max-width: 639px
	width: 100%

	&__nav-wrap
		display: flex
		justify-content: space-between
		gap: 24px
		+ph
			flex-direction: column
			gap: 12px

	&__feedback
		display: flex
		justify-content: flex-end
		flex-wrap: wrap
		gap: 24px
		+ph
			justify-content: flex-start
			gap: 12px
