.nav-list
	display: flex
	justify-content: space-between
	gap: 12px

	&_cl
		flex-direction: column
		align-items: flex-start
		justify-content: flex-start
		gap: 20px
		+ph
			gap: 14px

		.nav-list__item.active
			.nav-list__item-link
				color: var(--grey-color)

		.nav-list__item-link
			color: var(--text-color)
			text-align: left
			+hover
				color: var(--grey-color)
			+focus
				color: var(--grey-color)
			&:active
				color: var(--grey-color)

	&__item
		&.parent
			position: relative
			+hover
				.link-text__icon
					transform: rotateX(-180deg)
				.dropdown-menu
					opacity: 1
					visibility: visible

		&.active
			.nav-list__item-link
				color: var(--text-color)
				
	&__item-link
		color: var(--grey-color)
		+hover
			color: var(--text-color)
		+focus
			color: var(--text-color)
		&:active
			color: var(--text-color)
