# Order Deny,Allow
# Deny from all
# Allow from 127.0.0.1

RewriteEngine On
RewriteBase /

#RewriteCond %{SERVER_PORT} !^443$
#RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [QSA,R=301,L]

# редирект со слеша на без слеша
RewriteCond %{REQUEST_URI} !\?
RewriteCond %{REQUEST_URI} !\&
RewriteCond %{REQUEST_URI} !\=
RewriteCond %{REQUEST_URI} !\.
RewriteCond %{REQUEST_URI} !\/$
RewriteRule ^(.*[^\/])$ /$1/ [R=301,L]

<IfModule mod_rewrite.c>
	php_value upload_max_filesize 2G
	php_value post_max_size 2G
</IfModule>