.feedback
	&__content-wrap
		position: relative
		padding: 40px
		background-color: $clr_2
		overflow: hidden
		+sm
			padding: 20px
		+ph
			padding: 20px 10px

	&__img
		position: absolute
		left: 0
		bottom: 0
		z-index: 0
		display: flex
		max-width: 1400px
		width: 100%
		min-height: 100%
		background-repeat: no-repeat
		background-position: center
		background-size: cover
		+md
			opacity: .6
		+ph
			max-width: 1200px
			min-height: 60%

	&__title
		margin-bottom: 12px

	&__text
		margin-bottom: 32px

	&__form-wrap
		position: relative
		z-index: 1
		margin-left: auto
		display: flex
		flex-direction: column
		max-width: 670px
		width: 100%
		+ph
			margin-left: 0

.feedback-form
	&__list
		display: flex
		flex-direction: column
		gap: 16px
		margin-bottom: 24px

	&__list-item
		+sm
			background-color: rgba($clr_1, .1)
			backdrop-filter: blur(10px)