.menu-mobile
  position: fixed
  z-index: 2000
  top: 0
  right: 0
  display: none
  width: 100%
  // padding: 72px 20px 72px 40px
  padding: 50px 20px 40px 20px
  color: $clr_1
  background-color: $clr_3
  transform: translateY(-100%)
  transition: transform .3s linear, opacity .3s linear
  will-change: transform
  opacity: 0

  +sm
    display: block

    &.active
      transform: translateX(0)
      opacity: 1

  +ph
    padding: 20px
    font-size: 16px

  +max(464px)
    padding: 20px

  .site-wrapper
    display: none
    margin-bottom: 30px
    +max(464px)
      display: flex
    &__icon
      fill: $clr_2
    &__btn
      color: $clr_2
    &__icon-arrow
      fill: $clr_2
    +max(464px)
      display: flex

.menu-mobile-list
  display: flex
  flex-direction: column
  gap: 14px
  +ph
    gap: 20px

  &__link
    transition: transform .2s linear

    &:active
      transform: scale(.94)
    
  &__link
    &.active
      color: $clr_4
