// FONTS
$ff_1: 'TildaSans', sans-serif

// COLOR
$clr_0: transparent
$clr_1: #F6F6F6
$clr_2: #FFFFFF
$clr_3: #303235
$clr_4: #1F58E0
$clr_5: #FEA800
$clr_6: transparent
$clr_7: transparent
$clr_8: transparent
$clr_9: transparent
$clr_er: #ff4040

// SIZE
$size_1: 1490px
