.basket

	&__content-empty
		display: flex
		flex-direction: column
		line-height: 180%

	&__content-text
		margin-bottom: 40px

		+ph
			margin-bottom: 30px

	&__text-empty
		margin-bottom: 20px
		font-size: 40px

		+ph
			font-size: 30px

	&__total-wrapper
		display: flex
		flex-direction: column

	&__total-text
		margin-bottom: 10px
		font-size: 20px
	
	&__total-link
		padding: 13px 25px
		max-width: 200px
		min-height: 50px

.basket-list
	display: flex
	flex-direction: column
	gap: 10px
	margin-bottom: 40px

.basket-item
	position: relative
	padding: 20px
	background-color: rgba($clr_3, .2)

	+ph
		padding: 10px

	&__btn-delete
		position: absolute
		top: 15px
		right: 15px
		display: flex
		flex-shrink: 0
		width: 24px
		height: 24px

		&:hover
			+hover
				&::before, &::after
					background-color: $clr_3

		&::before, &::after
			content: ''
			position: absolute
			width: 15px
			height: 1px
			top: 50%
			left: 5px
			background-color: $clr_2
			transform: translateY(50%)
			transition: background-color .2s linear

		&::before
			transform: rotate(45deg)

		&::after
			transform: rotate(-45deg)

	&__content-wrapper
		display: flex
		gap: 20px
		align-items: center
		max-width: 100%
		width: 100%

		+ph
			flex-direction: column
			align-items: flex-start

	&__content-link-img
		display: flex
		font-size: 0
		max-width: 200px
		width: 100%
		height: 150px
		background-repeat: no-repeat
		background-position: center
		background-size: cover

	&__content-link
		font-size: 20px
		border-bottom: 1px solid $clr_0
		transition: color .2s linear, border-color .2s linear

		&:hover
			+hover
				color: $clr_3

		&:focus:not(:active)
			border-color: $clr_3
	
	&__content-intro
		opacity: .7

	&__content-right
		display: flex
		align-items: center
		margin-left: auto

		+ph
			margin-left: 0

	&__price-wrapper
		margin-right: 20px

	&__price
		font-weight: 700

	&__input-group
		margin-right: 0
