.main
  margin-bottom: 150px
  

  +sm
    margin-bottom: 80px

  .text-default
    max-width: 1200px
    font-size: 20px
    
    +ph
      font-size: 18px

  &.gallery
    .content
      width: 100%

  .content
    h1
      margin-bottom: 40px

  &__img
    float: right
    margin: 0 0 30px 30px
    width: 550px
    height: 100%
