.hero
  display: flex
  padding-bottom: 75px
  color: $clr_1
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  min-height: 850px

  +lr
    padding-bottom: 60px
    min-height: 750px

  +sm
    min-height: 700px

  +ph
    min-height: 590px

  &__container
    padding-top: 200px

    +sm
      padding-top: 150px

    +ph
      padding-top: 150px

  &__content-wrapper
    position: relative
    z-index: 1
    margin-left: -292px
    padding: 40px 40px 40px 292px
    max-width: 857px

    +ph
      padding: 20px 20px 20px 292px

    &::after
      content: ''
      position: absolute
      top: 0
      left: 0
      z-index: -1
      width: 100%
      height: 100%
      border-radius: 0 20px 20px 0
      background-color: $clr_3
      
      +sm
        background-color: rgba(#999999, .6)
        backdrop-filter: blur(2px)

  &__title
    margin-bottom: 0
    color: $clr_1

  &__subtitle
    margin-bottom: 20px
    font-weight: 700
    font-size: 22px
    line-height: 130%
    letter-spacing: -0.02em
    text-transform: uppercase
    
    +ph
      font-size: 18px

  &__title-small
    margin-bottom: 40px
    max-width: 366px
    font-weight: 400
    font-size: 18px
    color: $clr_1
    text-transform: uppercase

  &__list
    display: flex
    justify-content: space-between
    margin-bottom: 20px
    max-width: 100%

  &__list-item
    display: flex
    flex-direction: column
    align-items: center
    font-size: 50px

    +ph
      font-size: 35px

    &:not(:last-child)
      margin-right: 20px

  &__list-number-wrapper
    display: flex
    margin-bottom: 26px

  &__list-text
    font-size: 16px
    text-align: center

  .button

    &:hover
      +hover
        border-color: $clr_1
