.services

	&__slider
		background-color: $clr_2
		
		+sm
			background-color: $clr_0

	.slider
		width: 100%	
		height: 698px
		padding: 15px

		+sm
			padding: 0
			height: 260px

		+ph
			height: 240px

		&__wrapper
			overflow: hidden

			+sm
				overflow: auto
		
		&__slide
			display: flex
			
		&__slide-link
			display: flex
			align-items: center
			justify-content: center
			padding: 10px
			width: 100%
			height: 100%
			font-weight: 700
			line-height: 130%
			font-size: 24px
			color: $clr_1
			text-align: center
			text-transform: uppercase
			background-color: rgba(#9999994f, .3)
			transition: background-color .2s linear, backdrop-filter .2s linear

			+lr
				font-size: 20px

			+sm
				font-size: 22px
				background-color: rgba(#9999994f, .2)

			&:hover
				+hover
					backdrop-filter: blur(11px)
					background-color: rgba($clr_1, .5)

		&__slide-link-text
			max-width: 235px

		&__slide-link-img
			display: none
			position: absolute
			top: 50%
			left: 50%
			z-index: -1
			max-width: 100%
			width: 100%
			height: 100%
			border-radius: 20px
			object-fit: cover
			transform: translate(-50%, -50%)

			+sm
				display: flex

			+ph
				border-radius: 15px
				
	&__list-images
		background-color: $clr_3

		+sm
			display: none

	&__list-images-item
		position: absolute
		top: 0
		left: 0
		z-index: -1
		display: flex
		width: 100%
		height: 100%
		opacity: 0
		transition: opacity .3s linear

		&.active
			opacity: 1

	&__list-image
		width: 100%
		